<template>
  <div class="dungeonCreation">
    <h1>Create Dungeon</h1>
    <div class="dungeonCreationArea">
      <div class="row">
        <div class="col">
          <input
            v-model="input.dungeonName"
            type="text"
            id="dungeonName"
            name="dungeonName"
            placeholder="Dungeon name"
          />
        </div>
      </div>
      <div class="row">
        <div class="col">
          <textarea
            rows="9"
            v-model="input.lobbyDescription"
            id="lobbyDescription"
            name="lobbyDescription"
            placeholder="Lobby description"
          />
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button @click="onClickCancel">Cancel</button>
        </div>
        <div class="col">
          <button @click="onClickCreate">Create</button>
        </div>
      </div>
      <div class="row">
        <div class="col errormsg">{{ this.errormsg }}</div>
      </div>
    </div>
  </div>
</template>

<script>
import * as api from "@/util/apiwrapper.js";
export default {
  name: "DungeonCreation",
  data() {
    return {
      input: {
        dungeonName: "",
        lobbyDescription: "",
      },
      errormsg: "",
    };
  },
  methods: {
    async onClickCreate() {
      try {
        let createdDungeon = {
          uniqueName: this.input.dungeonName.trim(),
          lobbyDescription: this.input.lobbyDescription.trim(),
        };

        if (createdDungeon.uniqueName == "") {
          this.errormsg = "Dungeon needs a name";
          return;
        }

        await api.createDungeon(createdDungeon); //createdDungeon CreatedDungeon Object: {string uniqueName, string lobbyDescription}
        this.$router.push({
          name: "GameDungeonMaster",
          query: { dungeon: createdDungeon.uniqueName },
        });
      } catch (error) {
        console.log(error);
        this.errormsg = "Failed to create dungeon";
        return;
      }
    },
    onClickCancel() {
      this.$router.push({ name: "Lobby" });
    },
  },
  created() {
    // Beim Erstellen des Components
  },
};
</script>



<style scoped>
.errormsg {
  color: red;
}

.dungeonCreationArea {
  border-radius: 1em;
  background-color: #743f40;
  text-align: left;
  display: inline-block;
  padding: 2em;
  box-shadow: 0.1em 0.1em #000000a8;
}

input {
  border-radius: 0.75em;
  height: 2em;
  width: 25em;
  border-style: none;
  font-size: 1em;
  margin-bottom: 0.75em;
  background-color: #3f7473;
  color: #ffffff;
  box-shadow: 0.1em 0.1em #000000a8;
  padding-right: 1em;
  padding-left: 1em;
}

textarea {
  border-radius: 0.75em;
  width: 25em;
  border-style: none;
  font-size: 1em;
  margin-bottom: 0.75em;
  background-color: #3f7473;
  color: #ffffff;
  box-shadow: 0.1em 0.1em #000000a8;
  padding-right: 1em;
  padding-left: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

button {
  border-radius: 0.75em;
  height: 2em;
  width: 100%;
  font-size: 1em;
  background-color: #74733f;
  color: #ffffff;
}

h1 {
  color: #ffffff;
}
</style>