<template>
  <div class="lobbyTopUIComponent">
    <div class="row">
      <div class="col-4">
        <div class="uiInput">
          <input
            type="text"
            placeholder="Search Dungeons"
            @input="$emit('inputSearch', $event.target.value)"
            title="Search Dungeons"
          />
        </div>
      </div>
      <div class="col-4">
        <div class="uiLabel">
          <h1>Lobby</h1>
        </div>
      </div>
      <div class="col-4">
        <div class="uiButtons">
          <div class="row">
            <div class="col">
              <button @click="onClickCreateDungeon">Create Dungeon</button>
            </div>
            <div class="col">
              <button @click="onClickLogout">Logout</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import * as api from "@/util/apiwrapper.js";
export default {
  name: "LobbyTopUIComponent",
  components: {},
  props: ["searchInput"],
  methods: {
    async onClickLogout() {
      try {
        await api.logout();
        this.$router.push("/");
      } catch (error) {
        console.log(error);
      }
    },
    onClickCreateDungeon() {
      this.$router.push("/dungeonCreation");
    },
    searchDungeons() {
      //console.log(this.searchInput);
    },
  },
};
</script>

<style scoped>
.lobbyTopUIComponent {
  margin-top: 2em;
  margin-bottom: 2em;
}

.uiLabel {
  border-radius: 1.5em;
  width: 50%;
  display: inline-block;
  background-color: #743f40;
  padding: 0.5em;
  box-shadow: 0.1em 0.1em #000000a8;
}

.uiInput {
  top: 50%;
  -ms-transform: translateY(50%);
  transform: translateY(50%);
}

.uiButtons {
  top: 50%;
  -ms-transform: translateY(50%);
  transform: translateY(50%);
  max-width: 25em;
}

input {
  border-radius: 0.75em;
  height: 2em;
  width: 100%;
  max-width: 25em;
  border-style: none;
  font-size: 1.2em;
  background-color: #3f7473;
  color: #ffffff;
  display: inline-block;
  box-shadow: 0.1em 0.1em #000000a8;
  margin-left: 10px;
}

button {
  border-radius: 0.75em;
  height: 2em;
  width: 100%;
  font-size: 1em;
  background-color: #74733f;
  color: #ffffff;
}

h1 {
  color: #ffffff;
}
</style>