<template>
  <div class="lobbyComponent">
    <div class="row" style="width: 100%">
      <div class="col-3">
        <div class="generalInfo">
          <h1>{{ dungeon.uniqueName }}</h1>
          <div class="dungeonInfo">
            DM: {{ dungeon.dungeonMasterUserName }} <br />
            {{ dungeon.activePlayers }} Players
          </div>
          <button
            v-if="dungeon.allowedJoinAsPlayer"
            @click="onClickJoinAsPlayer"
          >
            Join as Player
          </button>
          <button v-if="!dungeon.allowedJoinAsPlayer"
            @click="onClickJoinRequest">Send Joinrequest</button>
          <br />
          <button v-if="dungeon.allowedJoinAsDM" @click="onClickJoinAsDM">
            Join as Dungeon Master
          </button>
        </div>
      </div>
      <div class="col">
        <p>
          {{ dungeon.lobbyDescription }}
        </p>
      </div>
    </div>
  </div>
</template>

<script>
import * as api from '@/util/apiwrapper.js'
export default {
  name: "Lobby",
  props: ['dungeon'],
  methods: {
    async onClickJoinAsPlayer() {
      try {
        //var avatarName = await api.getAvatar(this.$props.dungeon.uniqueName);
        var avatar = await api.getAvatar(this.$props.dungeon.uniqueName);
        var avatarName = avatar.name;
        console.log("Join as Player:");
        console.log(avatarName);
        this.$router.push({path: "/gameplayer", query: {dungeon: this.$props.dungeon.uniqueName}});
      } catch (error) {
        console.error(error.response);
        if (error.response.status == 404) {
          this.$router.push({path: "/avatarcreation", query: {dungeon: this.$props.dungeon.uniqueName}});
        }
      }
    },
    onClickJoinAsDM() {
      this.$router.push({path: "/gamedungeonmaster", query: {dungeon: this.$props.dungeon.uniqueName}});
    },
    onClickJoinRequest() {
      try {
        api.addToJoinRequests(this.$props.dungeon.uniqueName);
      } catch (error) {
        console.log(error);
      }
    }
  },
};
</script>

<style scoped>
.lobbyComponent {
  border-radius: 1em;
  background-color: #743f40;
  text-align: left;
  display: inline-block;
  box-shadow: 0.1em 0.1em #000000a8;
  max-width: 1920px;
  width: 90vw;
  height: 300px;
  margin-left: 2em;
  margin-right: 2em;
  margin-bottom: 1em;
  position: relative;
}

button {
  border-radius: 0.75em;
  height: 2em;
  width: 210px;
  font-size: 1em;
  background-color: #74733f;
  color: #ffffff;
  margin-top: 1em;
}

p {
  color: #ffffff;
}

.dungeonInfo {
  color: #ffffff;
}

h1 {
  color: #ffffff;
  font-style: bold;
  font-size: 2em;
}

.row {
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin: 2em;
  margin-top: 0;
  padding-right: 40px;
}

.generalInfo {
  width: 100%;
  word-wrap: break-word;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
</style>