// Primary Colors
$colorPrimary: #743f40;
$colorPrimaryLight: #a56b6b;
$colorPrimaryDark: #46161a;
$colorPrimaryComplementary: #3f7473;
$colorPrimaryAnalogousOne: #743f5a;
$colorPrimaryAnalogousTwo: #74593f;
$colorPrimaryTriadicOne: #74733f;
$colorPrimaryTriadicTwo: #40743f;

// Secondary Colors
$colorSecondary: #1c3642;
$colorSecondaryLight: #46606d;
$colorSecondaryDark: #00101b;
$colorSecondaryComplementary: #42281c;
$colorSecondaryAnalogousOne: #1c423b;
$colorSecondaryAnalogousTwo: #1c2342;
$colorSecondaryTriadicOne: #281c42;
$colorSecondaryTriadicTwo: #421c36;

// Text Colors
$colorTextRed: #db5680;
$colorTextGreen: #c3dd76;
$colorTextBlue: #68c4c4;

// Misc Colors
$colorSwitchDisabeld: #b3dbd9;