<template>
  <div class="aboutComp">
    <h1>About us</h1>
    <p>We are MUD-Golem.com. But what exactly are we doing? We are a team of six students, who are developing a Multi-User-Dungeon-Server in Java. Everyone should be able to create and play a MUD without a huge introduction. Thats our vision. We hope you like it!</p>
  </div>
</template>

<script>
export default {
  name: "AboutComponent",
};
</script>

<style scoped>
h1 {
  color: #ffffff;
}
p {
    color: #ffffff;
    width: 80%;
    display: inline-block;
}
</style>
