<template>
  <div class="chatError">
    <h1>Chat Error</h1>
    <div class="textArea">
      <p>
        An Error occured in the chatsystem.<br />
        You have been disconnected from the dungeon.
      </p>
      <div class="row">
        <div class="col">
          <button @click="onClickLogin">Go to Lobby</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "ChatError",
  methods: {
    onClickLogin() {
      this.$router.push({name: "Lobby"});
    },
  },
};
</script>

<style scoped>
.textArea {
  border-radius: 1em;
  background-color: #743f40;
  text-align: center;
  display: inline-block;
  padding: 2em;
  box-shadow: 0.1em 0.1em #000000a8;
  min-width: 400px;
}

button {
  border-radius: 0.75em;
  height: 2em;
  width: 50%;
  font-size: 1em;
  background-color: #74733f;
  color: #ffffff;
}

h1 {
  color: #ffffff;
  font-style: bold;
  font-size: 2em;
}
p {
  color: #ffffff;
  font-size: 1.2em;
}
</style>