<template>
  <div class="homeComp">
    <img
      src="@/assets/img/MUD_GOLEM_Logo_Schrift_V1.svg"
      style="height: 10em"
    />
    <br />
    <div class="uiButtons">
      <div class="row">
        <div class="col">
          <button @click="openLogin()">Login</button>
        </div>
        <div class="col">
          <button @click="openRegister()">Register</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "HomeComponent",
  methods: {
    openLogin() {
      this.$router.push("/login");
    },
    openRegister() {
      this.$router.push("/register");
    },
  },
};
</script>

<style scoped>
.uiButtons {
  width: 25%;
  display: inline-block;
  margin-top: 2em;
}

button {
  border-radius: 0.75em;
  height: 2em;
  width: 100%;
  font-size: 1em;
  background-color: #74733f;
  color: #ffffff;
}
</style>
