<template>
  <div class="dungeonMasterDungeonTabComponent">
    <div class="row">
      <!--Left-->
      <div class="col">
        <!--Input Dungeon Name-->
        <div class="row">
          <div class="col">
            <input
              v-bind:value="inputDungeonName"
              placeholder="Dungeon Name"
              title="Dungeon Name"
              disabled
            />
          </div>
        </div>
        <!--Input Dungeon Desc-->
        <div class="row">
          <div class="col">
            <textarea
              v-model="inputDungeonDesc"
              placeholder="Dungeon Description"
              title="Dungeon Description"
            />
          </div>
        </div>
        <!--Input Dungeon Welcome MSG-->
        <div class="row">
          <div class="col">
            <textarea
              v-model="inputDungeonWelcomeMSG"
              placeholder="Dungeon Welcome Message"
              title="Dungeon Welcome Message"
            />
          </div>
        </div>
        <!--Input Dungeon Unknown Action Response-->
        <div class="row">
          <div class="col">
            <textarea
              v-model="inputDungeonUnknownActionResponse"
              placeholder="Unknown Action Response"
              title="Unknown Action Response"
            />
          </div>
        </div>
        <!--Startroom-->
        <div class="row">
          <div class="col">
            <div class="labelDropdown">
              Startroom<br />
              <select v-model="inputStartRoom">
                <!--v-for every Room-->
                <option
                  v-for="room in this.$store.state.room.rooms"
                  v-bind:key="room.scopedID"
                  :value="room.scopedID"
                >
                  {{ room.displayName }}
                </option>
              </select>
            </div>
          </div>
        </div>
        <!--Visible Switch-->
        <div class="row">
          <div class="col">
            <div class="labelOption">
              <div class="row">
                <div class="col-md-auto">
                  <label class="switch">
                    <input
                      type="checkbox"
                      v-model="isVisible"
                    />
                    <span class="slider round"></span>
                  </label>
                </div>
                <div class="col">
                  <p class="switchLabel">
                    Is Visible:
                    <span v-if="isVisible">Yes</span>
                    <span v-if="!isVisible">No</span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--Right-->
      <div class="col">
        <!--Input Action Search-->
        <div class="row">
          <div class="col">
            <input
              v-model="inputSearchAction"
              placeholder="Search Action"
              title="Search Action"
            />
          </div>
        </div>
        <!--Action List-->
        <div class="row">
          <div class="col">
            <div class="actionListContainer">
              <div class="actionListContent">
                <p
                  v-for="(entry, index) in filteredActions"
                  :key="entry.globalID"
                  class="actionEntry"
                >
                  <span style="width: 80%; word-wrap: break-word">{{
                    entry.name
                  }}</span>
                  <span
                    v-if="entry.enabled"
                    style="min-width: 10%; user-select: none; cursor: pointer"
                    @click="onClickEntry(index)"
                    >[enabled]</span
                  >
                  <span
                    v-else-if="!entry.enabled"
                    style="min-width: 10%; user-select: none; cursor: pointer"
                    @click="onClickEntry(index)"
                    >[disabled]</span
                  >
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Buttons-->
    <div class="row">
      <!--Update Dungeon-->
      <div class="col">
        <button @click="updateDungeon">Update Dungeon</button>
      </div>
      <!--Copy Dungeon-->
      <div class="col">
        <button @click="copyDungeon">Copy Dungeon</button>
      </div>
      <!--Delete Dungeon-->
      <div class="col">
        <button @click="removeDungeon" style="background-color: #74593f">Delete Dungeon</button>
      </div>
    </div>
    <div class="row">
      <div class="col errormsg">{{ this.errormsg }}</div>
    </div>
  </div>
</template>

<script>
export default {
  name: "DungeonMasterDungeonTabComponent",
  components: {},
  methods: {
    onClickEntry(index) {
      var dungeon = this.$store.state.dungeon.dungeon;
      dungeon.actionIDs[index].enabled = !dungeon.actionIDs[index].enabled;
      this.$store.commit("objecttemplate/SET_SELECTEDOBJECT", dungeon);
    },
    async updateDungeon() {
      try {
        await this.$store.dispatch("dungeon/updateDungeon");
      } catch (error) {
        console.log(error);
        this.errormsg = "Failed to update dungeon";
        await this.$store.dispatch("dungeon/loadDungeon");
      }
    },
    copyDungeon() {
      this.$router.push({ name: "DungeonCopy", query: this.$route.query });
    },
    removeDungeon() {
      this.$router.push({
        path: "/dungeonRemoveConfirmation",
        query: this.$route.query,
      });
    },
  },
  data() {
    return {
      visible: "Yes",
      inputSearchAction: "",
      errormsg: "",
    };
  },

  computed: {
    inputDungeonName: {
      get() {
        return this.$store.state.dungeon.dungeon.uniqueName;
      },
    },
    inputDungeonDesc: {
      get() {
        return this.$store.state.dungeon.dungeon.lobbyDescription;
      },
      set(value) {
        var d = this.$store.state.dungeon.dungeon;
        d.lobbyDescription = value.trim();
        this.$store.commit("dungeon/SET_DUNGEON", d);
      },
    },
    inputDungeonWelcomeMSG: {
      get() {
        return this.$store.state.dungeon.dungeon.dungeonDescription;
      },
      set(value) {
        var d = this.$store.state.dungeon.dungeon;
        d.dungeonDescription = value.trim();
        this.$store.commit("dungeon/SET_DUNGEON", d);
      },
    },
    inputDungeonUnknownActionResponse: {
      get() {
        return this.$store.state.dungeon.dungeon.unknownActionResponse;
      },
      set(value) {
        var d = this.$store.state.dungeon.dungeon;
        d.unknownActionResponse = value.trim();
        this.$store.commit("dungeon/SET_DUNGEON", d);
      },
    },
    inputStartRoom: {
      get() {
        var id = this.$store.state.dungeon.dungeon.startRoomScopedID;
        return id;
      },
      set(value) {
        var r = this.$store.state.dungeon.dungeon;
        r.startRoomScopedID = parseInt(value, 10);
        this.$store.commit("dungeon/SET_DUNGEON", r);
      },
    },
    isVisible: {
      get() {
        var id = this.$store.state.dungeon.dungeon.isJoinable;
        return id;
      },
      set(value) {
        var r = this.$store.state.dungeon.dungeon;
        r.isJoinable = value;
        this.$store.commit("dungeon/SET_DUNGEON", r);
      },
    },
    filteredActions: {
      get() {
        if (this.$store.state.dungeon.dungeon.actionIDs == null) {
          return false;
        } else {
          return this.$store.state.dungeon.dungeon.actionIDs.filter((action) =>
            action.name
              .toLowerCase()
              .includes(this.inputSearchAction.toLowerCase())
          );
        }
      },
    },
  },
};
</script>

<style scoped>
.errormsg {
  color: red;
}
.actionEntry {
  display: flex;
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
}

.actionListContent {
  text-align: left;
  color: white;
}

.dungeonMasterDungeonTabComponent {
  margin: 1em;
}

.labelDropdown {
  background-color: #743f40;
  padding: 0.5em;
  margin-bottom: 1em;
  border-radius: 1em;
  color: #ffffff;
  box-shadow: 0.1em 0.1em #000000a8;
}

.labelOption {
  background-color: #743f40;
  padding: 1em;
  padding-bottom: 0.25em;
  margin-bottom: 1em;
  margin-top: 0.25em;
  border-radius: 1em;
  color: #ffffff;
  box-shadow: 0.1em 0.1em #000000a8;
}

.actionListContainer {
  background-color: #00101b;
  border-radius: 2em;
  border-style: solid;
  border-color: #46606d;
  border-width: 1em;
  margin-bottom: 1em;
  height: calc(100vh - 10vh - 8em - 3em - 3em);
  box-shadow: 0.1em 0.1em #000000a8;
  overflow: auto;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #a5a5a5;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #1c423b;
}

input:focus + .slider {
  box-shadow: 0 0 1px #1c423b;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.switchLabel {
  text-align: left;
  color: #ffffff;
  font-size: 1.25em;
}

input {
  border-radius: 0.75em;
  height: 2em;
  width: 100%;
  border-style: none;
  font-size: 1em;
  background-color: #3f7473;
  color: #ffffff;
  display: inline-block;
  box-shadow: 0.1em 0.1em #000000a8;
  margin-bottom: 1em;
}

textarea {
  border-radius: 0.75em;
  height: calc((100vh - 10vh - 8em - 20.25em) / 3);
  min-height: 2em;
  width: 100%;
  border-style: none;
  font-size: 1em;
  background-color: #3f7473;
  color: #ffffff;
  display: inline-block;
  box-shadow: 0.1em 0.1em #000000a8;
  margin-bottom: 1em;
  resize: none;
}

select {
  border-radius: 0.75em;
  height: 2em;
  width: 100%;
  font-size: 1em;
  display: inline-block;
  box-shadow: 0.1em 0.1em #000000a8;
  background-color: #1c423b;
  color: #ffffff;
  border-style: none;
}

.toggleButton {
  border-radius: 0.75em !important;
  height: 2em !important;
  padding-left: 1em !important;
  padding-right: 1em !important;
  font-size: 1em !important;
  background-color: #1c423b !important;
  color: #ffffff !important;
  bottom: 1em !important;
  width: 100% !important;
  box-shadow: 0.1em 0.1em #000000a8 !important;
}

button {
  border-radius: 0.75em;
  height: 2em;
  padding-left: 1em;
  padding-right: 1em;
  font-size: 1em;
  background-color: #74733f;
  color: #ffffff;
  bottom: 1em;
  width: 100%;
  box-shadow: 0.1em 0.1em #000000a8;
}
</style>