<template>
  <div class="dungeonMasterRoomsTabComponent">
    <div class="row">
      <!--Left-->
      <div class="col">
        <!--Map-->
        <div class="row">
          <div class="col">
            <div class="mapContainer">
              <dungeonMasterMapComponent @click="onClickList" />
            </div>
          </div>
        </div>
        <!--Input Room Search-->
        <div class="row">
          <div class="col">
            <input
              v-model="inputSearchRoom"
              placeholder="Search Room"
              title="Search Room"
            />
          </div>
        </div>
        <!--Room List-->
        <div class="row">
          <div class="col">
            <div class="roomListContainer">
              <div class="roomListContent">
                <p
                  v-for="room in filteredRooms"
                  v-bind:key="room.scopedID"
                  v-bind:class="{
                    activeRoomEntry: room.displayName == selectedRoomName,
                  }"
                  @click="onClickList(room.scopedID)"
                  style="cursor: pointer; display: flex"
                >
                  <span style="width: 60%">{{ room.displayName }}</span>
                  <span
                    style="width: 40%"
                    v-if="
                      room.roomNorthScopedID +
                        room.roomSouthScopedID +
                        room.roomEastScopedID +
                        room.roomWestScopedID <
                      1
                    "
                    >[not connected]</span
                  >
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--Middle-->
      <div class="col">
        <!--Input Roomname-->
        <div class="row">
          <div class="col">
            <input
              v-model="selectedRoomName"
              placeholder="Room Name"
              title="Room Name"
            />
          </div>
        </div>
        <!--Input Roomdesc-->
        <div class="row">
          <div class="col">
            <input
              v-model="selectedRoomDesc"
              placeholder="Room Description"
              title="Room Description"
            />
          </div>
        </div>
        <div class="row">
          <!--Room North-->
          <div class="col" style="padding-right: 0em">
            <div class="labelDropdown">
              North<br />
              <select v-model="selectedRoomNorth">
                <!--TODO v-for every Room-->
                <option selected value="-1">None</option>
                <option
                  v-for="room in roomsNorth"
                  :value="room.scopedID"
                  :key="room.scopedID"
                >
                  {{ room.displayName }}
                </option>
              </select>
            </div>
          </div>
          <!--Room East-->
          <div class="col">
            <div class="labelDropdown">
              East<br />
              <select v-model="selectedRoomEast">
                <!--TODO v-for every Room-->
                <option selected value="-1">None</option>
                <option
                  v-for="room in roomsEast"
                  :value="room.scopedID"
                  :key="room.scopedID"
                >
                  {{ room.displayName }}
                </option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <!--Room South-->
          <div class="col" style="padding-right: 0em">
            <div class="labelDropdown">
              South<br />
              <select v-model="selectedRoomSouth">
                <option selected value="-1">None</option>
                <option
                  v-for="room in roomsSouth"
                  :value="room.scopedID"
                  :key="room.scopedID"
                >
                  {{ room.displayName }}
                </option>
              </select>
            </div>
          </div>
          <!--Room West-->
          <div class="col">
            <div class="labelDropdown">
              West<br />
              <select v-model="selectedRoomWest">
                <!--TODO v-for every Room-->
                <option selected value="-1">None</option>
                <option
                  v-for="room in roomsWest"
                  :value="room.scopedID"
                  :key="room.scopedID"
                >
                  {{ room.displayName }}
                </option>
              </select>
            </div>
          </div>
        </div>
        <!--Button Update Room-->
        <div class="row">
          <div class="col">
            <button @click="updateRoom">Update</button>
            <div class="row">
              <div class="col" id="errorMsg"></div>
            </div>
          </div>
        </div>
        <!--Button Add Room-->
        <div class="row">
          <div class="col">
            <button @click="addRoom">Add</button>
          </div>
        </div>
        <!--Button Delete Room-->
        <div class="row">
          <div class="col">
            <button @click="removeRoom" style="background-color: #74593f">
              Remove
            </button>
          </div>
        </div>
        <!--Error Message-->
        <div class="row">
          <div class="col errormsg">{{ this.errormsg }}</div>
        </div>
      </div>
      <!--Right-->
      <div class="col">
        <!--Toggle Objects/ Actions-->
        <div class="row">
          <div class="col">
            <div class="labelOption">
              <div class="row">
                <div class="col">
                  <div class="row">
                    <div class="col-md-auto">
                      <label class="switch">
                        <input
                          type="checkbox"
                          @change="toggleObjAct"
                          v-model="checkMode"
                        />
                        <span class="slider round"></span>
                      </label>
                    </div>
                    <div class="col">
                      <p class="switchLabel">{{ this.listMode }} List</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--Object/ Action Search-->
        <div class="row">
          <div class="col">
            <input
              v-model="inputSearchObjAct"
              v-bind:placeholder="'Search ' + this.listMode"
              title="Search List"
            />
          </div>
        </div>
        <!--Object/ Action List-->
        <div class="row">
          <div class="col">
            <div class="objectActionListContainer">
              <div
                class="objectActionListContent"
                v-if="this.listMode == 'Objects'"
              >
                <!--v-for every Object/ Action-->
                <p
                  v-for="(entry, index) in filteredPlacedObjects"
                  :key="entry.objectTemplateGlobalID"
                  class="objectEntry"
                >
                  <span style="width: 80%; word-wrap: break-word;"
                    >{{ entry.displayName }}: {{ entry.count }}</span
                  >
                  <span
                    class="textButton"
                    style="min-width: 10%"
                    @click="onClickEntryPlus(index)"
                    >[+]</span
                  >
                  <span
                    class="textButton"
                    style="min-width: 10%"
                    @click="onClickEntryMinus(index)"
                    >[-]</span
                  >
                </p>
              </div>
              <div
                class="objectActionListContent"
                v-else-if="this.listMode == 'Actions'"
              >
                <!--v-for every Object/ Action-->
                <p
                  v-for="(entry, index) in filteredActions"
                  :key="entry.globalID"
                  class="actionEntry"
                >
                  <span style="width: 80%; word-wrap: break-word;">{{ entry.name }}</span>
                  <span
                    v-if="entry.enabled"
                    class="textButton"
                    style="min-width: 10%"
                    @click="onClickEntry(index)"
                    >[enabled]</span
                  >
                  <span
                    v-else-if="!entry.enabled"
                    class="textButton"
                    style="min-width: 10%"
                    @click="onClickEntry(index)"
                    >[disabled]</span
                  >
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import dungeonMasterMapComponent from "@/components/dmComponents/DungeonMasterMapComponent.vue";

export default {
  name: "DungeonMasterRoomsTabComponent",
  components: {
    dungeonMasterMapComponent,
  },
  methods: {
    async onClickList(id) {
      await this.$store.dispatch("room/loadSelectedRoom", {
        dungeonID: this.$route.query.dungeon,
        roomID: id,
      });
    },
    onClickEntry(index) {
      var room = this.$store.state.room.selectedRoom;
      room.actionIDs[index].enabled = !room.actionIDs[index].enabled;
      this.$store.commit("room/SET_SELECTEDROOM", room);
    },
    onClickEntryPlus(index) {
      var room = this.$store.state.room.selectedRoom;
      room.placedObjects[index].count++;
      this.$store.commit("room/SET_SELECTEDROOM", room);
    },
    onClickEntryMinus(index) {
      var room = this.$store.state.room.selectedRoom;
      room.placedObjects[index].count--;
      if (room.placedObjects[index].count < 0) {
        room.placedObjects[index].count = 0;
      }
      this.$store.commit("room/SET_SELECTEDROOM", room);
    },
    toggleObjAct() {
      if (this.checkMode) {
        this.listMode = "Actions";
      } else {
        this.listMode = "Objects";
      }
    },
    async addRoom() {
      if (this.$store.state.room.selectedRoom.displayName == "") {
        this.errormsg = "Room needs a name!";
        return;
      }
      try {
        await this.$store.dispatch(
          "room/createRoom",
          this.$route.query.dungeon
        );
        await this.$store.dispatch(
          "room/clearRooms",
          this.$route.query.dungeon
        );
        await this.$store.dispatch(
          "room/loadShortRooms",
          this.$route.query.dungeon
        );

        this.errormsg = "";
      } catch (error) {
        console.error(error);
        this.errormsg = "Failed to create room";
        await this.$store.dispatch(
          "room/clearRooms",
          this.$route.query.dungeon
        );
        await this.$store.dispatch(
          "room/loadShortRooms",
          this.$route.query.dungeon
        );
      }
    },
    async updateRoom() {
      if (this.$store.state.room.selectedRoom.globalID < 1) {
        this.errormsg = "No room selected!";
        return;
      }
      if (this.$store.state.room.selectedRoom.displayName == "") {
        this.errormsg = "Room needs a name!";
        return;
      }
      try {
        await this.$store.dispatch(
          "room/updateRoom",
          this.$route.query.dungeon
        );
        await this.$store.dispatch(
          "room/loadShortRooms",
          this.$route.query.dungeon
        );
        await this.$store.dispatch("room/loadSelectedRoom", {
          dungeonID: this.$route.query.dungeon,
          roomID: this.$store.state.room.selectedRoom.globalID,
        });

        this.errormsg = "";
      } catch (error) {
        console.error(error);
        this.errormsg = "Failed to update room";
        await this.$store.dispatch(
          "room/clearRooms",
          this.$route.query.dungeon
        );
        await this.$store.dispatch(
          "room/loadShortRooms",
          this.$route.query.dungeon
        );
      }
    },
    async removeRoom() {
      if (this.$store.state.room.selectedRoom.globalID < 1) {
        this.errormsg = "No room selected!";
        return;
      }

      try {
        await this.$store.dispatch(
          "room/removeRoom",
          this.$route.query.dungeon
        );
        await this.$store.dispatch(
          "room/clearRooms",
          this.$route.query.dungeon
        );
        await this.$store.dispatch(
          "room/loadShortRooms",
          this.$route.query.dungeon
        );
        this.errormsg = "";
      } catch (error) {
        console.error(error);
        this.errormsg = "Failed to remove room";
        await this.$store.dispatch(
          "room/clearRooms",
          this.$route.query.dungeon
        );
        await this.$store.dispatch(
          "room/loadShortRooms",
          this.$route.query.dungeon
        );
      }
    },
  },
  data() {
    return {
      errormsg: "",
      listMode: "Objects",
      checkMode: false,
      inputSearchRoom: "",
      inputRoomName: "",
      inputRoomDesc: "",
      inputSearchObjAct: "",
    };
  },
  computed: {
    selectedRoomName: {
      get() {
        return this.$store.state.room.selectedRoom.displayName;
      },
      set(value) {
        var r = this.$store.state.room.selectedRoom;
        r.displayName = value.trim();
        this.$store.commit("room/SET_SELECTEDROOM", r);
      },
    },
    selectedRoomDesc: {
      get() {
        return this.$store.state.room.selectedRoom.description;
      },
      set(value) {
        var r = this.$store.state.room.selectedRoom;
        r.description = value.trim();
        this.$store.commit("room/SET_SELECTEDROOM", r);
      },
    },
    selectedRoomNorth: {
      get() {
        var id = this.$store.state.room.selectedRoom.roomNorthGlobalID;
        if (id < 1) {
          return -1;
        } else {
          return id;
        }
      },
      set(value) {
        var r = this.$store.state.room.selectedRoom;
        r.roomNorthGlobalID = parseInt(value, 10);
        this.$store.commit("room/SET_SELECTEDROOM", r);
      },
    },
    selectedRoomSouth: {
      get() {
        var id = this.$store.state.room.selectedRoom.roomSouthGlobalID;
        if (id < 1) {
          return -1;
        } else {
          return id;
        }
      },
      set(value) {
        var r = this.$store.state.room.selectedRoom;
        r.roomSouthGlobalID = parseInt(value, 10);
        this.$store.commit("room/SET_SELECTEDROOM", r);
      },
    },
    selectedRoomEast: {
      get() {
        var id = this.$store.state.room.selectedRoom.roomEastGlobalID;
        if (id < 1) {
          return -1;
        } else {
          return id;
        }
      },
      set(value) {
        var r = this.$store.state.room.selectedRoom;
        r.roomEastGlobalID = parseInt(value, 10);
        this.$store.commit("room/SET_SELECTEDROOM", r);
      },
    },
    selectedRoomWest: {
      get() {
        var id = this.$store.state.room.selectedRoom.roomWestGlobalID;
        if (id < 1) {
          return -1;
        } else {
          return id;
        }
      },
      set(value) {
        var r = this.$store.state.room.selectedRoom;
        r.roomWestGlobalID = parseInt(value, 10);
        this.$store.commit("room/SET_SELECTEDROOM", r);
      },
    },
    roomsNorth: {
      get() {
        return this.$store.state.room.rooms.filter((room) => {
          return (
            (room.roomSouthScopedID < 1 ||
              room.roomSouthScopedID ==
                this.$store.state.room.selectedRoom.globalID) &&
            room.scopedID != this.$store.state.room.selectedRoom.globalID
          );
        });
      },
    },
    roomsSouth: {
      get() {
        return this.$store.state.room.rooms.filter((room) => {
          return (
            (room.roomNorthScopedID < 1 ||
              room.roomNorthScopedID ==
                this.$store.state.room.selectedRoom.globalID) &&
            room.scopedID != this.$store.state.room.selectedRoom.globalID
          );
        });
      },
    },
    roomsEast: {
      get() {
        return this.$store.state.room.rooms.filter((room) => {
          return (
            (room.roomWestScopedID < 1 ||
              room.roomWestScopedID ==
                this.$store.state.room.selectedRoom.globalID) &&
            room.scopedID != this.$store.state.room.selectedRoom.globalID
          );
        });
      },
    },
    roomsWest: {
      get() {
        return this.$store.state.room.rooms.filter((room) => {
          return (
            (room.roomEastScopedID < 1 ||
              room.roomEastScopedID ==
                this.$store.state.room.selectedRoom.globalID) &&
            room.scopedID != this.$store.state.room.selectedRoom.globalID
          );
        });
      },
    },
    filteredRooms: {
      get() {
        return this.$store.state.room.rooms.filter((room) =>
          room.displayName
            .toLowerCase()
            .includes(this.inputSearchRoom.toLowerCase())
        );
      },
    },
    filteredPlacedObjects: {
      get() {
        if (this.$store.state.room.selectedRoom.placedObjects == null) {
          return false;
        } else {
          return this.$store.state.room.selectedRoom.placedObjects.filter(
            (entry) =>
              entry.displayName
                .toLowerCase()
                .includes(this.inputSearchObjAct.toLowerCase())
          );
        }
      },
    },
    filteredActions: {
      get() {
        if (this.$store.state.room.selectedRoom.placedObjects == null) {
          return false;
        } else {
          return this.$store.state.room.selectedRoom.actionIDs.filter((entry) =>
            entry.name
              .toLowerCase()
              .includes(this.inputSearchObjAct.toLowerCase())
          );
        }
      },
    },
  },
};
</script>

<style scoped>
.errormsg {
  color: red;
}
.textButton {
  user-select: none;
  cursor: pointer;
}

.actionEntry {
  display: flex;
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
}

.objectEntry {
  display: flex;
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
}

.roomEntry {
  display: flex;
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
}

.objectActionListContent {
  text-align: left;
  color: white;
}

.dungeonMasterRoomsTabComponent {
  margin: 1em;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #1c423b;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #1c423b;
}

input:focus + .slider {
  box-shadow: 0 0 1px #1c423b;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.switchLabel {
  text-align: left;
  color: #ffffff;
  font-size: 1.25em;
}

.labelDropdown {
  background-color: #743f40;
  padding: 0.5em;
  margin-bottom: 1em;
  border-radius: 1em;
  color: #ffffff;
  box-shadow: 0.1em 0.1em #000000a8;
}

.labelOption {
  background-color: #743f40;
  padding: 1em;
  padding-bottom: 0.25em;
  margin-bottom: 1em;
  border-radius: 1em;
  color: #ffffff;
  box-shadow: 0.1em 0.1em #000000a8;
}

.activeRoomEntry {
  color: #c3dd76 !important;
}

.mapContainer {
  border: 0.75em solid #281c42;
  border-radius: 0.75em;
  /*height: 20em;*/
  height: calc((100vh - 10vh - 8em - 1em - 3em) / 2);
  margin-bottom: 1em;
  background-color: #1c423b;
  color: #ffffff;
  box-shadow: 0.1em 0.1em #000000a8;
}

.roomListContainer {
  text-align: left;
  color: #ffffff;
  background-color: #00101b;
  border-radius: 2em;
  border-style: solid;
  border-color: #46606d;
  border-width: 1em;
  margin-bottom: 1em;
  height: calc((100vh - 10vh - 8em - 1em - 3em) / 2);
  box-shadow: 0.1em 0.1em #000000a8;
  overflow-y: auto;
}

.objectActionListContainer {
  background-color: #00101b;
  border-radius: 2em;
  border-style: solid;
  border-color: #46606d;
  border-width: 1em;
  margin-bottom: 1em;
  height: calc(100vh - 10vh - 4em - 8em - 4em);
  box-shadow: 0.1em 0.1em #000000a8;
  overflow: auto;
}

button {
  border-radius: 0.75em;
  height: 2em;
  padding-left: 1em;
  padding-right: 1em;
  font-size: 1em;
  background-color: #74733f;
  color: #ffffff;
  margin-bottom: 1em;
  width: 100%;
  box-shadow: 0.1em 0.1em #000000a8;
  overflow: auto;
}

input {
  border-radius: 0.75em;
  height: 2em;
  width: 100%;
  border-style: none;
  font-size: 1em;
  background-color: #3f7473;
  color: #ffffff;
  display: inline-block;
  box-shadow: 0.1em 0.1em #000000a8;
  margin-bottom: 1em;
}

select {
  border-radius: 0.75em;
  height: 2em;
  width: 100%;
  font-size: 1.2em;
  display: inline-block;
  box-shadow: 0.1em 0.1em #000000a8;
  background-color: #1c423b;
  color: #ffffff;
  border-style: none;
}

.roomListContent {
  padding: 20px;
}
</style>
