<template>

  <div class="dungeonMasterMapComponent" id="container">
    <div
      v-for="room in roomMapData.roomMap"
      v-bind:key="room[1].scopedID"
      class="roomDiv"
      :style="{
        gridColumn: room[1].x + '/ span 1',
        gridRow: room[1].y + '/ span 1',
      }"
      @click="$emit('click', room[1].scopedID)"
      :title="room[1].displayName"
    >
      <div
        :class="{
          innerStartRoom: selectedRoom == room[1].scopedID,
          innerRoom: selectedRoom != room[1].scopedID,
        }"
      ></div>
      <div class="north" v-show="room[1].roomNorthScopedID > 0"></div>
      <div class="south" v-show="room[1].roomSouthScopedID > 0"></div>
      <div class="east" v-show="room[1].roomEastScopedID > 0"></div>
      <div class="west" v-show="room[1].roomWestScopedID > 0"></div>
    </div>
  </div>
</template>

<script>
import * as roommap from "@/util/roommap.js";

export default {
  name: "dungeonMasterMapComponent",
  components: {},
  methods: {},
  data() {
    return {
      possible: true,
    };
  },
  computed: {
    roomMapData: {
      get() {
        if (this.$store.state.room.selectedRoom.globalID < 1) {
          return { roomMap: new Map(), sizeX: 0, sizeY: 0 };
        }

        try {
          var map = roommap.calculateMapData(
            this.$store.state.room.selectedRoom.globalID,
            this.$store.state.room.rooms
          );
          var x = Math.max(map.sizeX, map.sizeY);
          const container = document.getElementById("container");
          container.style.gridTemplateColumns = `repeat(${x}, 1fr)`;
          container.style.gridTemplateRows = `repeat(${x}, 1fr)`;

          return map;
        } catch (error) {
          console.log(error);
          return { roomMap: new Map(), sizeX: 0, sizeY: 0 };
        }
      },
    },
    selectedRoom: {
      get() {
        return this.$store.state.room.selectedRoom.globalID;
      },
    },
  },
};
</script>

<style scoped>
.roomDiv {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  width: 100%;
  height: 100%;
  color: #c3dd76;
}

.innerRoom {
  width: 100%;
  height: 100%;
  grid-column: 2 / span 3;
  grid-row: 2 / span 3;
  background: #3f7473;
  border-style: solid;
  border-width: 2px;
  border-color: #eb9898;
}

.innerStartRoom {
  width: 100%;
  height: 100%;
  grid-column: 2 / span 3;
  grid-row: 2 / span 3;
  background: #743f5a;
  border-style: solid;
  border-width: 2px;
  border-color: #eb9898;
}

.north {
  width: 100%;
  height: 100%;
  grid-column: 3 / span 1;
  grid-row: 1 / span 1;
  background: #eb9898;
}

.south {
  width: 100%;
  height: 100%;
  grid-column: 3 / span 1;
  grid-row: 5 / span 1;
  background: #eb9898;
}

.east {
  width: 100%;
  height: 100%;
  grid-column: 5 / span 1;
  grid-row: 3 / span 1;
  background: #eb9898;
}

.west {
  width: 100%;
  height: 100%;
  grid-column: 1 / span 1;
  grid-row: 3 / span 1;
  background: #eb9898;
}

.dungeonMasterMapComponent {
  display: grid;
  height: 100%;
  width: 100%;
}

.labelDropdown {
  background-color: #743f40;
  padding: 1em;
  margin-bottom: 1em;
  border-radius: 1em;
  color: #ffffff;
  box-shadow: 0.1em 0.1em #000000a8;
}

.activeRoomEntry {
  color: #c3dd76 !important;
}

.mapContainer {
  border: 0.75em solid #281c42;
  border-radius: 0.75em;
  height: 20em;
  margin-bottom: 1em;
  background-color: #1c423b;
  color: #ffffff;
  box-shadow: 0.1em 0.1em #000000a8;
}

.roomListContainer {
  background-color: #00101b;
  border-radius: 2em;
  border-style: solid;
  border-color: #46606d;
  border-width: 1em;
  margin-bottom: 1em;
  height: 20em;
  box-shadow: 0.1em 0.1em #000000a8;
}

.objectActionListContainer {
  background-color: #00101b;
  border-radius: 2em;
  border-style: solid;
  border-color: #46606d;
  border-width: 1em;
  margin-bottom: 1em;
  height: 41em;
  box-shadow: 0.1em 0.1em #000000a8;
}

input {
  border-radius: 0.75em;
  height: 2em;
  width: 100%;
  border-style: none;
  font-size: 1.2em;
  background-color: #3f7473;
  color: #ffffff;
  display: inline-block;
  box-shadow: 0.1em 0.1em #000000a8;
  margin-bottom: 1em;
}

select {
  border-radius: 0.75em;
  height: 2em;
  width: 100%;
  font-size: 1.2em;
  display: inline-block;
  box-shadow: 0.1em 0.1em #000000a8;
  background-color: #1c423b;
  color: #ffffff;
  border-style: none;
}

.toggleButton {
  border-radius: 0.75em !important;
  height: 2em !important;
  padding-left: 1em !important;
  padding-right: 1em !important;
  font-size: 1em !important;
  background-color: #1c423b !important;
  color: #ffffff !important;
  bottom: 1em !important;
  width: 100% !important;
  margin-bottom: 1em !important;
  box-shadow: 0.1em 0.1em #000000a8 !important;
}

button {
  border-radius: 0.75em;
  height: 2em;
  padding-left: 1em;
  padding-right: 1em;
  font-size: 1em;
  background-color: #74733f;
  color: #ffffff;
  bottom: 1em;
  width: 100%;
  box-shadow: 0.1em 0.1em #000000a8;
}
</style>
