<template>
  <div class="dungenoMasterActionsTabComponent">
    <div class="row">
      <!--Left-->
      <div class="col">
        <!--Input Actionsearch-->
        <div class="row">
          <div class="col">
            <input
              v-model="searchAction"
              placeholder="Actionsearch"
              title="Actionsearch"
            />
          </div>
        </div>
        <!--Action List-->
        <div class="row">
          <div class="col">
            <div class="actionListContainer">
              <div class="actionListContent">
                <p
                  v-for="action in filteredActions"
                  v-bind:key="action.globalID"
                  v-bind:class="{
                    activeRaceEntry: action.name == selectedActionName,
                  }"
                  @click="onClickList(action.globalID)"
                  style="cursor: pointer"
                >
                  {{ action.name }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--Right-->
      <div class="col">
        <!--Input Actionname-->
        <div class="row">
          <div class="col">
            <input
              v-model="selectedActionName"
              placeholder="Actionname"
              title="Actionname"
            />
          </div>
        </div>
        <!--Input Actioncommand-->
        <div class="row">
          <div class="col">
            <input
              v-model="selectedActionCommand"
              placeholder="Actioncommand"
              title="Actioncommand"
            />
          </div>
        </div>
        <!--Input Response-->
        <div class="row">
          <div class="col">
            <textarea
              v-model="selectedActionResponse"
              placeholder="Response"
              title="Response"
            />
          </div>
        </div>
        <!--Priority-->
        <div class="row">
          <div class="col">
            <div class="labelDropdown">
              Priority<br />
              <select v-model="selectedActionPriority">
                <option value="3">High</option>
                <option value="2">Medium</option>
                <option value="1">Low</option>
              </select>
            </div>
          </div>
        </div>
        <!--Buttons-->
        <div class="row">
          <!--Button Add Action-->
          <div class="col">
            <button @click="onClickAddObject">Add Action</button>
          </div>
          <!--Button Update Action-->
          <div class="col">
            <button @click="onClickUpdateObject">Update Action</button>
          </div>
        </div>
        <div class="row">
          <div class="col errormsg">{{ this.errormsg }}</div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "DungenoMasterActionsTabComponent",
  components: {},
  data() {
    return {
      searchAction: "",
      errormsg: "",
    };
  },
  methods: {
    onClickList(id) {
      console.log(id);
      this.$store.dispatch("action/loadSelectedAction", id);
    },
    async onClickUpdateObject() {
      if (this.$store.state.action.selectedAction.globalID < 1) {
        this.errormsg = "No action selected!";
        return;
      }
      if (this.$store.state.action.selectedAction.name == "") {
        this.errormsg = "Action needs a name!";
        return;
      }

      if (this.$store.state.action.selectedAction.command == "") {
        this.errormsg = "Action needs a command!";
        return;
      }

      try {
        await this.$store.dispatch(
          "action/updateAction",
          this.$route.query.dungeon
        );
        await this.$store.dispatch(
          "action/loadActions",
          this.$route.query.dungeon
        );
        await this.$store.dispatch(
          "action/loadSelectedAction",
          this.$store.state.action.selectedAction.globalID
        );
        this.errormsg = "";
      } catch (error) {
        console.log(error);
        this.errormsg = "Failed to update action";
        await this.$store.dispatch(
          "action/clearActions",
          this.$route.query.dungeon
        );
        await this.$store.dispatch(
          "action/loadActions",
          this.$route.query.dungeon
        );
      } finally {
        // Reload everything to integrate new Action in lists
        await this.$store.dispatch("dungeon/loadDungeon", this.$route.query.dungeon);
        await await this.$store.dispatch("room/loadSelectedRoom", {
          dungeonID: this.$route.query.dungeon,
          roomID: this.$store.state.room.selectedRoom.globalID,
        });
        this.$store.dispatch(
          "objecttemplate/loadSelectedObject",
          this.$store.state.objecttemplate.selectedObjectTemplate.globalID
        );
      }
    },
    async onClickAddObject() {
      if (this.$store.state.action.selectedAction.name == "") {
        this.errormsg = "Action needs a name!";
        return;
      }

      if (this.$store.state.action.selectedAction.command == "") {
        this.errormsg = "Action needs a command!";
        return;
      }
      try {
        await this.$store.dispatch(
          "action/createAction",
          this.$route.query.dungeon
        );

        this.errormsg = "";
      } catch (error) {
        console.log(error);
        this.errormsg = "Failed to create action";
      } finally {
        // Reload everything to integrate new Action in lists
        await this.$store.dispatch(
          "action/clearActions",
          this.$route.query.dungeon
        );
        await this.$store.dispatch(
          "action/loadActions",
          this.$route.query.dungeon
        );
        await this.$store.dispatch("dungeon/loadDungeon", this.$route.query.dungeon);
        await await this.$store.dispatch("room/loadSelectedRoom", {
          dungeonID: this.$route.query.dungeon,
          roomID: this.$store.state.room.selectedRoom.globalID,
        });
        this.$store.dispatch(
          "objecttemplate/loadSelectedObject",
          this.$store.state.objecttemplate.selectedObjectTemplate.globalID
        );
      }
    },
  },
  computed: {
    selectedActionName: {
      get() {
        return this.$store.state.action.selectedAction.name;
      },
      set(value) {
        var r = this.$store.state.action.selectedAction;
        r.name = value;
        this.$store.commit("action/SET_SELECTEDACTION", r);
      },
    },
    selectedActionCommand: {
      get() {
        return this.$store.state.action.selectedAction.command;
      },
      set(value) {
        var r = this.$store.state.action.selectedAction;
        r.command = value;
        this.$store.commit("action/SET_SELECTEDACTION", r);
      },
    },
    selectedActionResponse: {
      get() {
        return this.$store.state.action.selectedAction.response;
      },
      set(value) {
        var r = this.$store.state.action.selectedAction;
        r.response = value;
        this.$store.commit("action/SET_SELECTEDACTION", r);
      },
    },
    selectedActionPriority: {
      get() {
        return this.$store.state.action.selectedAction.priority;
      },
      set(value) {
        var r = this.$store.state.action.selectedAction;
        r.priority = value;
        this.$store.commit("action/SET_SELECTEDACTION", r);
      },
    },
    filteredActions: {
      get() {
        return this.$store.state.action.actions.filter((action) =>
          action.name.toLowerCase().includes(this.searchAction.toLowerCase())
        );
      },
    },
  },
};
</script>

<style scoped>
.errormsg {
  color: red;
}

.dungenoMasterActionsTabComponent {
  margin: 1em;
}

.actionListContainer {
  text-align: left;
  color: white;
  background-color: #00101b;
  border-radius: 2em;
  border-style: solid;
  border-color: #46606d;
  border-width: 1em;
  margin-bottom: 1em;
  height: calc(100vh - 10vh - 8em - 3em);
  box-shadow: 0.1em 0.1em #000000a8;
  overflow: auto;
}

.labelDropdown {
  background-color: #743f40;
  padding: 0.5em;
  margin-bottom: 1em;
  border-radius: 1em;
  color: #ffffff;
  box-shadow: 0.1em 0.1em #000000a8;
}

input {
  border-radius: 0.75em;
  height: 2em;
  width: 100%;
  border-style: none;
  font-size: 1em;
  background-color: #3f7473;
  color: #ffffff;
  display: inline-block;
  box-shadow: 0.1em 0.1em #000000a8;
  margin-bottom: 1em;
}

textarea {
  border-radius: 0.75em;
  height: calc(100vh - 10vh - 8em - 6em - 10em);
  width: 100%;
  border-style: none;
  font-size: 1em;
  background-color: #3f7473;
  color: #ffffff;
  display: inline-block;
  box-shadow: 0.1em 0.1em #000000a8;
  margin-bottom: 1em;
  resize: none;
}

select {
  border-radius: 0.75em;
  height: 2em;
  width: 100%;
  font-size: 1em;
  display: inline-block;
  box-shadow: 0.1em 0.1em #000000a8;
  background-color: #1c423b;
  color: #ffffff;
  border-style: none;
}

button {
  border-radius: 0.75em;
  height: 2em;
  padding-left: 1em;
  padding-right: 1em;
  font-size: 1em;
  background-color: #74733f;
  color: #ffffff;
  bottom: 1em;
  width: 100%;
  box-shadow: 0.1em 0.1em #000000a8;
}
.actionListContent {
  padding: 20px;
  word-wrap: break-word;
}
</style>