<template>
  <div class="dungeonMasterObjectsTabComponent">
    <div class="row">
      <!--Left-->
      <div class="col">
        <!--Input Object Search-->
        <div class="row">
          <div class="col">
            <input
              v-model="input.searchObject"
              placeholder="Search Object"
              title="Search Object"
            />
          </div>
        </div>
        <!--Object List-->
        <div class="row">
          <div class="col">
            <div class="objectListContainer">
              <div class="objectListContent">
                <p
                  v-for="objectTemplate in filteredObjects"
                  v-bind:key="objectTemplate.globalID"
                  @click="onClickList(objectTemplate.globalID)"
                  style="text-align: left"
                  class="row objElement"
                >
                  {{ objectTemplate.name }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--Middle-->
      <div class="col">
        <!--Input Object Name-->
        <div class="row">
          <div class="col">
            <input
              v-model="name"
              placeholder="Object Name"
              title="Object Name"
            />
          </div>
        </div>
        <!--Input Object Description-->
        <div class="row">
          <div class="col">
            <textarea
              v-model="fullDescription"
              placeholder="Object Description"
              title="Object Description"
            />
          </div>
        </div>
        <!--Collectable Switch-->
        <div class="row">
          <div class="col">
            <div class="labelOption">
              <div class="row">
                <div class="col-md-auto">
                  <label class="switch">
                    <input
                      type="checkbox"
                      v-model="isPickupable"
                    />
                    <span class="slider round"></span>
                  </label>
                </div>
                <div class="col">
                  <p class="switchLabel">
                    Collectable: 
                    <span v-if="isPickupable">Yes</span>
                    <span v-if="!isPickupable">No</span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--Button Update Object-->
        <div class="row">
          <div class="col">
            <button @click="onClickUpdateObject">Update Object</button>
          </div>
        </div>
        <!--Button Add Object-->
        <div class="row">
          <div class="col">
            <button
              @click="onClickAddObject"
              style="margin-top: 1em; margin-bottom: 1em"
            >
              Add Object
            </button>
            <div class="row">
              <div class="col errormsg">{{ this.errormsg }}</div>
            </div>
          </div>
        </div>
      </div>
      <!--Right-->
      <div class="col">
        <!--Action Search-->
        <div class="row">
          <div class="col">
            <input
              v-model="input.searchAction"
              placeholder="Search Action"
              title="Search Action"
            />
          </div>
        </div>
        <!--Actions List-->
        <div class="row">
          <div class="col">
            <div class="actionListContainer">
              <div class="actionListContent">
                <!--v-for every action-->
                <p
                  v-for="(entry, index) in filteredActions"
                  :key="entry.objectTemplateGlobalID"
                  class="actionEntry"
                >
                  <span style="width: 80%; word-wrap: break-word">{{
                    entry.name
                  }}</span>
                  <span
                    v-if="entry.enabled"
                    style="min-width: 10%; user-select: none; cursor: pointer"
                    @click="onClickEntry(index)"
                    >[enabled]</span
                  >
                  <span
                    v-else-if="!entry.enabled"
                    style="min-width: 10%; user-select: none; cursor: pointer"
                    @click="onClickEntry(index)"
                    >[disabled]</span
                  >
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
//import * as api from "@/util/apiwrapper.js";
export default {
  name: "dungeonMasterObjectsTabComponent",
  components: {},
  data() {
    return {
      input: {
        searchObject: "",
        searchAction: "",
      },
      isCollectable: "No",
      errormsg: "",
    };
  },
  methods: {
    onClickEntry(index) {
      var objectTemplate = this.$store.state.objecttemplate
        .selectedObjectTemplate;
      objectTemplate.actionIDs[index].enabled = !objectTemplate.actionIDs[index]
        .enabled;
      this.$store.commit("objecttemplate/SET_SELECTEDOBJECT", objectTemplate);
    },
    onClickList(id) {
      console.log(id);
      this.$store.dispatch("objecttemplate/loadSelectedObject", id);
    },
    async onClickUpdateObject() {
      if (
        this.$store.state.objecttemplate.selectedObjectTemplate.globalID < 1
      ) {
        this.errormsg = "No object selected!";
        return;
      }
      if (this.$store.state.objecttemplate.selectedObjectTemplate.name == "") {
        this.errormsg = "Objects needs a name!";
        return;
      }

      try {
        // Update the Object on the server
        await this.$store.dispatch(
          "objecttemplate/updateObject",
          this.$route.query.dungeon
        );

        // Reload the list of Objects
        await this.$store.dispatch(
          "objecttemplate/loadObjects",
          this.$route.query.dungeon
        );

        // Reload the object
        this.$store.dispatch(
          "objecttemplate/loadSelectedObject",
          this.$store.state.objecttemplate.selectedObjectTemplate.globalID
        );

        this.errormsg = "";
      } catch (error) {
        this.errormsg = "Failed to update object";
        console.log(error);

        // Clean everything up
        await this.$store.dispatch("objecttemplate/clearObjects");

        // Reload the list of Objects
        await this.$store.dispatch(
          "objecttemplate/loadObjects",
          this.$route.query.dungeon
        );
      } finally {
        // Reload everything to integrate new object in lists
        await this.$store.dispatch("room/loadSelectedRoom", {
          dungeonID: this.$route.query.dungeon,
          roomID: this.$store.state.room.selectedRoom.globalID,
        });
      }
    },
    async onClickAddObject() {
      if (this.$store.state.objecttemplate.selectedObjectTemplate.name == "") {
        this.errormsg = "Objects needs a name!";
        return;
      }
      try {
        await this.$store.dispatch(
          "objecttemplate/createObject",
          this.$route.query.dungeon
        );
        await this.$store.dispatch(
          "objecttemplate/clearObjects",
          this.$route.query.dungeon
        );
        await this.$store.dispatch(
          "objecttemplate/loadObjects",
          this.$route.query.dungeon
        );

        this.errormsg = "";
      } catch (error) {
        this.errormsg = "Failed to create object";
        console.log(error);

        // Clean everything up
        await this.$store.dispatch("objecttemplate/clearObjects");

        // Reload the list of Objects
        await this.$store.dispatch(
          "objecttemplate/loadObjects",
          this.$route.query.dungeon
        );
      } finally {
        // Reload everything to integrate new object in lists
        await this.$store.dispatch("room/loadSelectedRoom", {
          dungeonID: this.$route.query.dungeon,
          roomID: this.$store.state.room.selectedRoom.globalID,
        });
      }
    },
    async onClickRemoveObject() {
      /*try {
        await this.$store.dispatch(
          "objecttemplate/removeObject",
          this.$route.query.dungeon
        );
        await this.$store.dispatch(
          "objecttemplate/loadObjects",
          this.$route.query.dungeon
        );
      } catch (error) {
        console.log(error);
        document.getElementById("errorMsg").innerHTML = "Could not add object!";
      }*/
      document.getElementById("errorMsg").innerHTML = "Not implemented yet!";
    },
  },
  computed: {
    name: {
      get() {
        return this.$store.state.objecttemplate.selectedObjectTemplate.name;
      },
      set(value) {
        var r = this.$store.state.objecttemplate.selectedObjectTemplate;
        r.name = value.trim();
        this.$store.commit("objecttemplate/SET_SELECTEDOBJECT", r);
      },
    },
    fullDescription: {
      get() {
        return this.$store.state.objecttemplate.selectedObjectTemplate
          .fullDescription;
      },
      set(value) {
        var r = this.$store.state.objecttemplate.selectedObjectTemplate;
        r.fullDescription = value.trim();
        this.$store.commit("objecttemplate/SET_SELECTEDOBJECT", r);
      },
    },
    isPickupable: {
      get() {
        return this.$store.state.objecttemplate.selectedObjectTemplate
          .isPickupable;
      },
      set(value) {
        var r = this.$store.state.objecttemplate.selectedObjectTemplate;
        r.isPickupable = value;
        this.$store.commit("objecttemplate/SET_SELECTEDOBJECT", r);
      },
    },
    filteredObjects: {
      get() {
        return this.$store.state.objecttemplate.objectTemplates.filter(
          (object) =>
            object.name
              .toLowerCase()
              .includes(this.input.searchObject.toLowerCase())
        );
      },
    },
    filteredActions: {
      get() {
        if (
          this.$store.state.objecttemplate.selectedObjectTemplate.actionIDs ==
          null
        ) {
          return false;
        } else {
          return this.$store.state.objecttemplate.selectedObjectTemplate.actionIDs.filter(
            (entry) =>
              entry.name
                .toLowerCase()
                .includes(this.input.searchAction.toLowerCase())
          );
        }
      },
    },
  },
};
</script>

<style scoped>
.errormsg {
  color: red;
}

.objElement {
  cursor: pointer;
    padding-left: 5%;
  padding-right: 5%;
}

.actionListContent {
  text-align: left;
  color: white;
}

.actionEntry {
  display: flex;
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
}

.dungeonMasterObjectsTabComponent {
  margin: 1em;
  color: white;
}

.activeObjectEntry {
  color: #c3dd76 !important;
}

.objectListContainer {
  background-color: #00101b;
  border-radius: 2em;
  border-style: solid;
  border-color: #46606d;
  border-width: 1em;
  margin-bottom: 1em;
  height: calc(100vh - 10vh - 8em - 3em);
  box-shadow: 0.1em 0.1em #000000a8;
  overflow-y: auto;
}

.actionListContainer {
  background-color: #00101b;
  border-radius: 2em;
  border-style: solid;
  border-color: #46606d;
  border-width: 1em;
  margin-bottom: 1em;
  height: calc(100vh - 10vh - 8em - 3em);
  box-shadow: 0.1em 0.1em #000000a8;
  overflow: auto;
}

.labelOption {
  background-color: #743f40;
  padding: 1em;
  padding-bottom: 0.25em;
  margin-bottom: 1em;
  border-radius: 1em;
  color: #ffffff;
  box-shadow: 0.1em 0.1em #000000a8;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #a5a5a5;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #1c423b;
}

input:focus + .slider {
  box-shadow: 0 0 1px #1c423b;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.switchLabel {
  text-align: left;
  color: #ffffff;
  font-size: 1.25em;
}

input {
  border-radius: 0.75em;
  height: 2em;
  width: 100%;
  border-style: none;
  font-size: 1em;
  background-color: #3f7473;
  color: #ffffff;
  display: inline-block;
  box-shadow: 0.1em 0.1em #000000a8;
  margin-bottom: 1em;
}

textarea {
  border-radius: 0.75em;
  height: calc(100vh - 10vh - 8em - 3em - 16.5em);
  width: 100%;
  border-style: none;
  font-size: 1em;
  background-color: #3f7473;
  color: #ffffff;
  display: inline-block;
  box-shadow: 0.1em 0.1em #000000a8;
  margin-bottom: 1em;
  resize: none;
}

select {
  border-radius: 0.75em;
  height: 2em;
  width: 100%;
  font-size: 1.2em;
  display: inline-block;
  box-shadow: 0.1em 0.1em #000000a8;
  background-color: #1c423b;
  color: #ffffff;
  border-style: none;
}

.toggleButton {
  border-radius: 0.75em !important;
  height: 2em !important;
  padding-left: 1em !important;
  padding-right: 1em !important;
  font-size: 1em !important;
  background-color: #1c423b !important;
  color: #ffffff !important;
  bottom: 1em !important;
  width: 100% !important;
  margin-bottom: 1em !important;
  box-shadow: 0.1em 0.1em #000000a8 !important;
}

button {
  border-radius: 0.75em;
  height: 2em;
  padding-left: 1em;
  padding-right: 1em;
  font-size: 1em;
  background-color: #74733f;
  color: #ffffff;
  bottom: 1em;
  width: 100%;
  box-shadow: 0.1em 0.1em #000000a8;
}

.objectListContent {
  padding: 20px;
  word-wrap: break-word;
}
</style>
