<template>
  <div class="dungeonMasterAvatarsTabComponent">
    <div class="row">
      <!--Left-->
      <div class="col-4">
        <!--Input Avatar Search-->
        <div class="row">
          <div class="col">
            <input
              v-model="avatarFilter"
              placeholder="Search Avatar"
              title="Search Avatar"
            />
          </div>
        </div>
        <!--Avatar List-->
        <div class="row">
          <div class="col">
            <div class="avatarListContainer">
              <div class="avatarListContent">
                <p
                  v-for="avatar in filteredAvatars"
                  v-bind:key="avatar.globalID"
                  @click="onClickList(avatar.globalID)"
                  v-bind:class="{
                    activeAvatarEntry: avatar.name == selectedAvatarName,
                  }"
                  style="cursor: pointer; display: flex"
                >
                  <span style="width: 75%; word-wrap: break-word">{{
                    avatar.name
                  }}</span>
                  <span style="width: 20%" v-if="avatar.isActive"
                    >[Online]</span
                  >
                  <span style="width: 20%" v-if="!avatar.isActive"
                    >[Offline]</span
                  >
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--Middle-->
      <div class="col-4">
        <div class="row">
          <div class="col label">
            Username:
            <span style="font-weight: bold">{{ selectedAvatarUserName }}</span>
          </div>
        </div>
        <!--Input Avatar name-->
        <div class="row">
          <div class="col">
            <input
              v-model="selectedAvatarName"
              placeholder="Avatar Name"
              title="Avatar Name"
            />
          </div>
        </div>
        <!--Input Avatar desc-->
        <div class="row">
          <div class="col">
            <input
              v-model="selectedAvatarDesc"
              placeholder="Avatar Description"
              title="Avatar Description"
            />
          </div>
        </div>
        <div class="row">
          <div class="col" style="padding-right: 0em">
            <div class="labelDropdown">
              Current HP<br />
              <input
                v-model="selectedAvatarCurrHP"
                placeholder="Current HP"
                style="text-align: center"
                title="Current HP"
              />
            </div>
          </div>
          <div class="col">
            <div class="labelDropdown">
              Max HP<br />
              <input
                v-model="selectedAvatarMaxHP"
                placeholder="Max HP"
                style="text-align: center"
                title="Max HP"
              />
            </div>
          </div>
        </div>
        <div class="row">
          <!--Set Race-->
          <div class="col" style="padding-right: 0em">
            <div class="labelDropdown">
              Set Race<br />
              <select v-model="selectedAvatarRace">
                <option selected value="-1">None</option>
                <option
                  v-for="race in this.$store.state.avatarrace.races"
                  :value="race.globalID"
                  :key="race.globalID"
                >
                  {{ race.displayName }}
                </option>
              </select>
            </div>
          </div>
          <!--Set Class-->
          <div class="col">
            <div class="labelDropdown">
              Set Class<br />
              <select v-model="selectedAvatarClass">
                <option selected value="-1">None</option>
                <option
                  v-for="aClass in this.$store.state.avatarclass.classes"
                  :value="aClass.globalID"
                  :key="aClass.globalID"
                >
                  {{ aClass.displayName }}
                </option>
              </select>
            </div>
          </div>
        </div>
        <!--Set current room-->
        <div class="row">
          <div class="col">
            <div class="labelDropdown">
              Set current Room<br />
              <select v-model="selectedCurrRoom">
                <option selected value="-1">None</option>
                <option
                  v-for="room in this.$store.state.room.rooms"
                  :value="room.scopedID"
                  :key="room.scopedID"
                >
                  {{ room.displayName }}
                </option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <!--Button Update Avatar-->
          <div class="col" style="padding-right: 0em">
            <button @click="onClickUpdateAvatar">Update</button>
            <div class="row">
              <div class="col" id="errorMsg"></div>
            </div>
          </div>
          <!--Button Remove Avatar-->
          <div class="col">
            <button
              @click="onClickRemoveAvatar"
              style="background-color: #74593f"
            >
              Remove
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col errormsg">{{ this.errormsg }}</div>
        </div>
      </div>
      <!--Right-->
      <div class="col-4">
        <!--Object search-->
        <div class="row">
          <div class="col">
            <input
              v-model="inventoryFilter"
              placeholder="Search Object"
              title="Search Object"
            />
          </div>
        </div>
        <!--Objects List-->
        <div class="row">
          <div class="col">
            <div class="objectListContainer">
              <div class="objectListContent">
                <!--v-for every Object-->
                <p
                  v-for="(entry, index) in filteredInventory"
                  :key="entry.objectTemplateGlobalID"
                  class="objectEntry"
                >
                  <span style="min-width: 80%; word-wrap: break-word"
                    >{{ entry.displayName }}: {{ entry.count }}</span
                  >
                  <span
                    style="min-width: 10%; user-select: none; cursor: pointer"
                    @click="onClickEntryPlus(index)"
                    >[+]</span
                  >
                  <span
                    style="min-width: 10%; user-select: none; cursor: pointer"
                    @click="onClickEntryMinus(index)"
                    >[-]</span
                  >
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "DungeonMasterAvatarsTabComponent",
  components: {},
  data() {
    return {
      avatarFilter: "",
      inventoryFilter: "",
      errormsg: "",
    };
  },
  async created() {
    await this.$store.dispatch(
      "avatar/clearAvatars",
      this.$route.query.dungeon
    );
    await this.$store.dispatch("avatar/loadAvatars", this.$route.query.dungeon);
  },
  methods: {
    async onClickUpdateAvatar() {
      console.log("Update Avatar");
      if (this.$store.state.avatar.selectedAvatar.name == "") {
        this.errormsg = "Avatar needs a name";
        return;
      }
      if (this.$store.state.avatar.selectedAvatar.globalID < 1) {
        this.errormsg = "No avatar selected";
        return;
      }

      try {
        await this.$store.dispatch(
          "avatar/updateAvatar",
          this.$route.query.dungeon
        );
        await this.$store.dispatch("avatar/loadSelectedAvatar", {
          dungeonID: this.$route.query.dungeon,
          avatarID: this.$store.state.avatar.selectedAvatar.globalID,
        });
        await this.$store.dispatch(
          "avatar/loadAvatars",
          this.$route.query.dungeon
        );

        this.errormsg = "";
      } catch (error) {
        console.error(error);
        this.errormsg = "Failed to update Avatar";

        await this.$store.dispatch(
          "avatar/clearAvatars",
          this.$route.query.dungeon
        );
        await this.$store.dispatch(
          "avatar/loadAvatars",
          this.$route.query.dungeon
        );
      }
    },
    async onClickRemoveAvatar() {
      if (this.$store.state.avatar.selectedAvatar.globalID < 1) {
        this.errormsg = "No avatar selected";
        return;
      }
      try {
        await this.$store.dispatch(
          "avatar/removeAvatar",
          this.$route.query.dungeon
        );
        this.$store.dispatch("avatar/clearAvatars", this.$route.query.dungeon);
        await this.$store.dispatch(
          "avatar/loadAvatars",
          this.$route.query.dungeon
        );
        this.errormsg = "";
      } catch (error) {
        console.error(error);
        this.errormsg = "Failed to remove avatar";
        this.$store.dispatch("avatar/clearAvatars", this.$route.query.dungeon);
        await this.$store.dispatch(
          "avatar/loadAvatars",
          this.$route.query.dungeon
        );
      }
    },
    onClickList(avatarID) {
      this.$store.dispatch("avatar/loadSelectedAvatar", {
        dungeonID: this.$route.query.dungeon,
        avatarID: avatarID,
      });
    },
    onClickEntryPlus(index) {
      var avatar = this.$store.state.avatar.selectedAvatar;
      avatar.inventory[index].count++;
      this.$store.commit("avatar/SET_SELECTEDAVATAR", avatar);
    },
    onClickEntryMinus(index) {
      var avatar = this.$store.state.avatar.selectedAvatar;
      avatar.inventory[index].count--;
      if (avatar.inventory[index].count < 0) {
        avatar.inventory[index].count = 0;
      }
      this.$store.commit("avatar/SET_SELECTEDAVATAR", avatar);
    },
  },
  computed: {
    selectedAvatarUserName: {
      get() {
        return this.$store.state.avatar.selectedAvatar.userName;
      },
    },
    selectedAvatarName: {
      get() {
        return this.$store.state.avatar.selectedAvatar.name;
      },
      set(value) {
        var a = this.$store.state.avatar.selectedAvatar;
        a.name = value.trim();
        this.$store.commit("avatar/SET_SELECTEDAVATAR", a);
      },
    },
    selectedAvatarIsActive: {
      get() {
        return this.$store.state.avatar.selectedAvatar.isActive;
      },
    },
    selectedAvatarDesc: {
      get() {
        return this.$store.state.avatar.selectedAvatar.userDescription;
      },
      set(value) {
        var a = this.$store.state.avatar.selectedAvatar;
        a.userDescription = value.trim();
        this.$store.commit("avatar/SET_SELECTEDAVATAR", a);
      },
    },
    selectedAvatarCurrHP: {
      get() {
        return this.$store.state.avatar.selectedAvatar.currHP;
      },
      set(value) {
        var a = this.$store.state.avatar.selectedAvatar;
        a.currHP = value;
        this.$store.commit("avatar/SET_SELECTEDAVATAR", a);
      },
    },
    selectedAvatarMaxHP: {
      get() {
        return this.$store.state.avatar.selectedAvatar.maxHP;
      },
      set(value) {
        var a = this.$store.state.avatar.selectedAvatar;
        a.maxHP = value;
        this.$store.commit("avatar/SET_SELECTEDAVATAR", a);
      },
    },
    selectedAvatarRace: {
      get() {
        var id = this.$store.state.avatar.selectedAvatar.raceGlobalID;
        if (id < 1) {
          return -1;
        } else {
          return id;
        }
      },
      set(value) {
        var a = this.$store.state.avatar.selectedAvatar;
        a.raceGlobalID = value;
        this.$store.commit("avatar/SET_SELECTEDAVATAR", a);
      },
    },
    selectedAvatarClass: {
      get() {
        var id = this.$store.state.avatar.selectedAvatar.classGlobalID;
        if (id < 1) {
          return -1;
        } else {
          return id;
        }
      },
      set(value) {
        var a = this.$store.state.avatar.selectedAvatar;
        a.classGlobalID = value;
        this.$store.commit("avatar/SET_SELECTEDAVATAR", a);
      },
    },
    selectedCurrRoom: {
      get() {
        var id = this.$store.state.avatar.selectedAvatar.roomGlobalID;

        if (id < 1) {
          return -1;
        } else {
          return id;
        }
      },
      set(value) {
        var a = this.$store.state.avatar.selectedAvatar;
        a.roomGlobalID = value;
        this.$store.commit("avatar/SET_SELECTEDAVATAR", a);
      },
    },
    filteredAvatars: {
      get() {
        return this.$store.state.avatar.avatars.filter((avatar) =>
          avatar.name.toLowerCase().includes(this.avatarFilter.toLowerCase())
        );
      },
    },
    filteredInventory: {
      get() {
        if (this.$store.state.avatar.selectedAvatar.inventory == null) {
          return false;
        } else {
          return this.$store.state.avatar.selectedAvatar.inventory.filter(
            (entry) =>
              entry.displayName
                .toLowerCase()
                .includes(this.inventoryFilter.toLowerCase())
          );
        }
      },
    },
  },
};
</script>

<style scoped>
.errormsg {
  color: red;
}

.objectEntry {
  display: flex;
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
}

.dungeonMasterAvatarsTabComponent {
  margin: 1em;
  color: #ffffff;
}

.labelDropdown {
  background-color: #743f40;
  padding: 0.5em;
  margin-bottom: 1em;
  border-radius: 1em;
  color: #ffffff;
  box-shadow: 0.1em 0.1em #000000a8;
}

.activeAvatarEntry {
  color: #c3dd76 !important;
}

.labelDropdown input {
  margin-bottom: 0 !important;
}

.avatarListContainer {
  text-align: left;
  background-color: #00101b;
  border-radius: 2em;
  border-style: solid;
  border-color: #46606d;
  border-width: 1em;
  margin-bottom: 1em;
  /*Viewheight - Top - Bottom - Tabheight - boarderheight - margins - inputheight - margin*/
  height: calc(100vh - 5vh - 5vh - 64px - 2em - 1em - 48px - 1em);
  box-shadow: 0.1em 0.1em #000000a8;
  overflow: auto;
}

.objectListContainer {
  text-align: left;
  background-color: #00101b;
  border-radius: 2em;
  border-style: solid;
  border-color: #46606d;
  border-width: 1em;
  margin-bottom: 1em;
  /*Viewheight - Top - Bottom - Tabheight - boarderheight - margins - inputheight - margin*/
  height: calc(100vh - 5vh - 5vh - 64px - 2em - 1em - 48px - 1em);
  box-shadow: 0.1em 0.1em #000000a8;
  overflow: auto;
}

input {
  border-radius: 0.75em;
  height: 2em;
  width: 100%;
  border-style: none;
  font-size: 1em;
  background-color: #3f7473;
  color: #ffffff;
  display: inline-block;
  box-shadow: 0.1em 0.1em #000000a8;
  margin-bottom: 1em;
}

select {
  border-radius: 0.75em;
  height: 2em;
  width: 100%;
  font-size: 1em;
  display: inline-block;
  box-shadow: 0.1em 0.1em #000000a8;
  background-color: #1c423b;
  color: #ffffff;
  border-style: none;
}

.toggleButton {
  border-radius: 0.75em !important;
  height: 2em !important;
  padding-left: 1em !important;
  padding-right: 1em !important;
  font-size: 1em !important;
  background-color: #1c423b !important;
  color: #ffffff !important;
  bottom: 1em !important;
  width: 100% !important;
  margin-bottom: 1em !important;
  box-shadow: 0.1em 0.1em #000000a8 !important;
}

button {
  margin-bottom: 1em;
  border-radius: 0.75em;
  height: 2em;
  padding-left: 1em;
  padding-right: 1em;
  font-size: 1em;
  background-color: #74733f;
  color: #ffffff;
  bottom: 1em;
  width: 100%;
  box-shadow: 0.1em 0.1em #000000a8;
}

.label {
  background-color: #743f40;
  margin-bottom: 1em;
  border-radius: 0.5em;
  color: #ffffff;
  box-shadow: 0.1em 0.1em #000000a8;
  padding: 0.25em;
  margin-right: 1em;
  margin-left: 1em;
}

.avatarListContent {
  padding: 20px;
}
</style>
