<template>
  <div class="dungeonMasterUserTabComponent">
    <!--TopUI-->
    <div class="row">
      <!--oldToggle Black/ Whitelist-->
      <!--<div class="col">
        <div class="row">
          <div class="col-md-auto">
            <label class="switch">
              <input type="checkbox" v-model="useWhitelistInsteadOfBlacklist" />
              <span class="slider round"></span>
            </label>
          </div>
          <div class="col">
            <p class="switchLabel">
              Switch Mode:
              <span v-if="!useWhitelistInsteadOfBlacklist">Blacklist</span
              ><span v-if="useWhitelistInsteadOfBlacklist">Whitelist</span>
            </p>
          </div>
        </div>
      </div>-->
      <!--Toggle Objects/ Actions-->
      <div class="col">
        <div class="labelOption">
          <div class="row">
            <div class="col">
              <div class="row">
                <div class="col-md-auto">
                  <label class="switch">
                    <input
                      type="checkbox"
                      v-model="useWhitelistInsteadOfBlacklist"
                    />
                    <span class="slider round"></span>
                  </label>
                </div>
                <div class="col">
                  <p class="switchLabel">
                    <span v-if="!useWhitelistInsteadOfBlacklist">Blacklist</span
                    ><span v-if="useWhitelistInsteadOfBlacklist"
                      >Whitelist</span
                    >
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--Label Join Request-->
      <div v-if="useWhitelistInsteadOfBlacklist" class="col">
        <div class="row">
          <div class="col">
            <div class="labelList">
              <h4>Join Requests</h4>
            </div>
          </div>
        </div>
      </div>
      <!--Label Dungeon Masters-->
      <div class="col">
        <div class="row">
          <div class="col">
            <div class="labelList">
              <h4>Dungeon Masters</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Lists-->
    <div class="row">
      <!--Black/Whitelist-->
      <div class="col">
        <div class="listContainer">
          <!--Blacklist-->
          <div v-if="!useWhitelistInsteadOfBlacklist" class="contentBlacklist">
            <p
              class="entry"
              v-for="(name, index) in blacklistUserNames"
              :key="index"
            >
              <span style="width: 80%; word-wrap: break-word;">{{ name }}</span
              ><span
                class="textButton"
                style="width: 20%"
                @click="onClickRemoveBlack(name)"
                >[remove]</span
              >
            </p>
          </div>
          <!--Whitelist-->
          <div v-if="useWhitelistInsteadOfBlacklist" class="contentWhitelist">
            <p
              class="entry"
              v-for="(name, index) in whitelistUserNames"
              :key="index"
            >
              <span style="width: 80%; word-wrap: break-word;">{{ name }}</span
              ><span
                class="textButton"
                style="width: 20%"
                @click="onClickRemoveWhite(name)"
                >[remove]</span
              >
            </p>
          </div>
        </div>
      </div>
      <!--List Join Requests-->
      <div v-if="useWhitelistInsteadOfBlacklist" class="col">
        <div class="listContainer">
          <div class="contentJoinRequest">
            <p
              class="entry"
              v-for="(name, index) in joinRequestUserNames"
              :key="index"
            >
              <span style="width: 80%; word-wrap: break-word;">{{ name }}</span
              ><span
                class="textButton"
                style="width: 20%"
                @click="onClickAccept(name)"
                >[accept]</span
              ><span class="textButton" @click="onClickDecline(name)"
                >[decline]</span
              >
            </p>
          </div>
        </div>
      </div>
      <!--List Dungeon Masters-->
      <div class="col">
        <div class="listContainer">
          <div class="contentDungeonMasters">
            <p class="entry" v-for="(name, index) in DMUserNames" :key="index">
              <span style="width: 80%; word-wrap: break-word;">{{ name }}</span
              ><span
                class="textButton"
                style="width: 20%"
                @click="onClickRemoveDM(name)"
                >[remove]</span
              >
            </p>
          </div>
        </div>
      </div>
    </div>
    <!--UIElements-->
    <div class="row">
      <!--Input Username-->
      <div class="col">
        <input v-model="username" placeholder="Username" title="Username" />
      </div>
      <!--Button Add User to Black/Whitelist-->
      <div class="col">
        <button
          @click="onClickAddBlack"
          v-show="!useWhitelistInsteadOfBlacklist"
        >
          Add User to Blacklist
        </button>
        <button
          @click="onClickAddWhite"
          v-show="useWhitelistInsteadOfBlacklist"
        >
          Add User to Whitelist
        </button>
      </div>
      <!--Button Add User to DM-->
      <div class="col">
        <button @click="onClickAddDM">Add User to DMs</button>
      </div>
    </div>
    <div class="row">
      <div class="col errormsg">{{ this.errormsg }}</div>
    </div>
  </div>
</template>

<script>
import * as api from "@/util/apiwrapper.js";

export default {
  name: "DungeonMasterUserTabComponent",
  components: {},
  async created() {
    await this.$store.dispatch(
      "user/loadJoinRequests",
      this.$route.query.dungeon
    );
  },
  methods: {
    async onClickAccept(username) {
      try {
        await api.answerJoinRequest(this.$route.query.dungeon, username, true);
        this.errormsg = "";
      } catch (error) {
        console.log(error);
        this.errormsg = "Failed to accept request";
      } finally {
        await this.$store.dispatch(
          "user/loadWhitelist",
          this.$route.query.dungeon
        );
        await this.$store.dispatch(
          "user/loadJoinRequests",
          this.$route.query.dungeon
        );
      }
    },
    async onClickDecline(username) {
      try {
        await api.answerJoinRequest(this.$route.query.dungeon, username, false);

        this.errormsg = "";
      } catch (error) {
        console.log(error);
        this.errormsg = "Failed to decline request";
      } finally {
        await this.$store.dispatch(
          "user/loadJoinRequests",
          this.$route.query.dungeon
        );
      }
    },
    async onClickAddWhite() {
      try {
        await api.addToWhitelist(this.$route.query.dungeon, this.username);
        this.errormsg = "";
        this.username = "";
      } catch (error) {
        console.log(error);
        this.errormsg = "Failed to add user to whitelist";
      } finally {
        await this.$store.dispatch(
          "user/loadWhitelist",
          this.$route.query.dungeon
        );
      }
    },
    async onClickRemoveWhite(username) {
      try {
        await api.removeFromWhitelist(this.$route.query.dungeon, username);

        this.errormsg = "";
      } catch (error) {
        console.log(error);
        this.errormsg = "Failed to remove user from whitelist";
      } finally {
        await this.$store.dispatch(
          "user/loadWhitelist",
          this.$route.query.dungeon
        );
      }
    },
    async onClickAddBlack() {
      try {
        await api.addToBlacklist(this.$route.query.dungeon, this.username);

        this.errormsg = "";
        this.username = "";
      } catch (error) {
        console.log(error);
        this.errormsg = "Failed to add user to blacklist";
      } finally {
        await this.$store.dispatch(
          "user/loadBlacklist",
          this.$route.query.dungeon
        );
      }
    },
    async onClickRemoveBlack(username) {
      try {
        await api.removeFromBlacklist(this.$route.query.dungeon, username);

        this.errormsg = "";
      } catch (error) {
        console.log(error);
        this.errormsg = "Failed to remove user from blacklist";
      } finally {
        await this.$store.dispatch(
          "user/loadBlacklist",
          this.$route.query.dungeon
        );
      }
    },
    async onClickAddDM() {
      try {
        await api.addToDMlist(this.$route.query.dungeon, this.username);

        this.username = "";
        this.errormsg = "";
      } catch (error) {
        console.log(error);
        this.errormsg = "Failed to add user to DM list";
      } finally {
        await this.$store.dispatch(
          "user/loadDMlist",
          this.$route.query.dungeon
        );
      }
    },
    async onClickRemoveDM(username) {
      try {
        await api.removeFromDMlist(this.$route.query.dungeon, username);

        this.errormsg = "";
      } catch (error) {
        console.log(error);
        this.errormsg = "Failed to remove user from DM list";
      } finally {
        await this.$store.dispatch(
          "user/loadDMlist",
          this.$route.query.dungeon
        );
      }
    },
  },
  data() {
    return {
      username: "",
      errormsg: "",
    };
  },
  computed: {
    useWhitelistInsteadOfBlacklist: {
      get() {
        return this.$store.state.dungeon.dungeon.useWhitelistInsteadOfBlacklist;
      },
      async set(value) {
        var r = this.$store.state.dungeon.dungeon;
        r.useWhitelistInsteadOfBlacklist = value;
        this.$store.commit("objecttemplate/SET_SELECTEDOBJECT", r);
        await this.$store.dispatch("dungeon/updateDungeon");
        await this.$store.dispatch(
          "dungeon/loadDungeon",
          this.$route.query.dungeon
        );
      },
    },
    whitelistUserNames: {
      get() {
        return this.$store.state.user.whitelist;
      },
    },
    blacklistUserNames: {
      get() {
        return this.$store.state.user.blacklist;
      },
    },
    joinRequestUserNames: {
      get() {
        return this.$store.state.user.joinRequest;
      },
    },
    DMUserNames: {
      get() {
        return this.$store.state.user.dmlist;
      },
    },
  },
};
</script>

<style scoped>
.errormsg {
  color: red;
}

.textButton {
  user-select: none;
  cursor: pointer;
}

.entry {
  display: flex;
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
}

.dungeonMasterUserTabComponent {
  margin: 1em;
}

.labelList {
  background-color: #1c3642;
  padding: 0.91em;
  margin-bottom: 1em;
  border-radius: 1em;
  color: #ffffff;
  box-shadow: 0.1em 0.1em #000000a8;
}

.labelOption {
  background-color: #743f40;
  padding: 1em;
  padding-bottom: 0.25em;
  margin-bottom: 1em;
  border-radius: 1em;
  color: #ffffff;
  box-shadow: 0.1em 0.1em #000000a8;
}

.listContainer {
  text-align: left;
  color: white;
  background-color: #00101b;
  border-radius: 2em;
  border-style: solid;
  border-color: #46606d;
  border-width: 1em;
  margin-bottom: 1em;
  height: calc(100vh - 10vh - 8em - 8.25em);
  box-shadow: 0.1em 0.1em #000000a8;
  overflow: auto;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #1c423b;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #1c423b;
}

input:focus + .slider {
  box-shadow: 0 0 1px #1c423b;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.switchLabel {
  text-align: left;
  color: #ffffff;
  font-size: 1.25em;
}

input {
  border-radius: 0.75em;
  height: 2em;
  width: 100%;
  border-style: none;
  font-size: 1em;
  background-color: #3f7473;
  color: #ffffff;
  display: inline-block;
  box-shadow: 0.1em 0.1em #000000a8;
  margin-bottom: 1em;
}

button {
  border-radius: 0.75em;
  height: 2em;
  padding-left: 1em;
  padding-right: 1em;
  font-size: 1em;
  background-color: #74733f;
  color: #ffffff;
  bottom: 1em;
  width: 100%;
  box-shadow: 0.1em 0.1em #000000a8;
}
</style>