<template>
  <div class="dungeonMasterGeneralTabComponent">
    <div class="tabViewContainer">
      <div class="row">
        <!--left big-->
        <div class="col-8">
          <div class="row">
            <div class="col">
              <select v-model="roomFilter">
                <option value="" selected>Entire dungeon</option>
                <option
                  v-for="room in this.$store.state.room.rooms"
                  v-bind:key="room.scopedID"
                >
                  {{ room.displayName }}
                </option>
              </select>
            </div>
          </div>
          <div class="row">
            <!--left small-->
            <div class="col">
              <select v-model="priorityFilter">
                <option selected value="0">All priorities</option>
                <option value="3">High priority</option>
                <option value="2">Medium priority</option>
                <option value="1">Low priority</option>
              </select>
            </div>
            <!--right small-->
            <div class="col">
              <select v-model="messageFilter">
                <option selected value="">All Messagetypes</option>
                <option>Whispers</option>
              </select>
            </div>
          </div>
          <div class="row">
            <!--left small-->
            <div class="col-6">
              <div class="actionbox">
                <div class="actionContent" id="systemContainer">
                  <!--v-for every p Element-->
                  <p v-for="(message, index) in systemmessages" :key="index">
                    <span
                      v-if="
                        message.type == 'ActionAlertMessage' &&
                        message.priority == 0
                      "
                      style="color: white"
                      >[{{ message.sender }}, {{ message.room }}]
                    </span>
                    <span
                      v-if="
                        message.type == 'ActionAlertMessage' &&
                        message.priority == 1
                      "
                      style="color: #c3dd76"
                      >[{{ message.sender }}, {{ message.room }}]
                    </span>
                    <span
                      v-if="
                        message.type == 'ActionAlertMessage' &&
                        message.priority == 2
                      "
                      style="color: #c2a813"
                      >[{{ message.sender }}, {{ message.room }}]
                    </span>
                    <span
                      v-if="
                        message.type == 'ActionAlertMessage' &&
                        message.priority == 3
                      "
                      style="color: #db5680"
                      >[{{ message.sender }}, {{ message.room }}]
                    </span>
                    <span
                      v-if="
                        message.type == 'WhisperSystemMessage' ||
                        message.type == 'RoomSystemMessage' ||
                        message.type == 'DungeonSystemMessage'
                      "
                      style="color: #db5680"
                      >[DM]
                    </span>
                    {{ message.content }}
                  </p>
                </div>
              </div>
            </div>
            <!--right small-->
            <div class="col-6">
              <div class="chatbox">
                <div class="chatContent" id="chatContainer">
                  <!--v-for every p Element-->
                  <p
                    class="actionText"
                    v-for="(message, index) in chatmessages"
                    v-bind:key="index"
                  >
                    <span
                      style="color: #db5680"
                      v-if="message.type == 'DungeonChatMessage'"
                    >
                      {{ message.sender }}:
                    </span>
                    <span
                      style="color: #c3dd76"
                      v-if="message.type == 'RoomChatMessage'"
                    >
                      {{ message.sender }} in {{ message.room }}:
                    </span>
                    <span
                      style="color: #68c4c4"
                      v-if="
                        message.type == 'WhisperChatMessage' &&
                        message.sender == 'DM'
                      "
                    >
                      {{ message.sender }}:
                    </span>
                    <span
                      style="color: #68c4c4"
                      v-if="
                        message.type == 'WhisperChatMessage' &&
                        message.sender != 'DM'
                      "
                    >
                      {{ message.sender }} in {{ message.room }}:
                    </span>
                    <span
                      style="color: #db5680"
                      v-if="message.type == 'DungeonSystemMessage'"
                      >[{{ message.sender }}]</span
                    >
                    <span
                      style="color: #c3dd76"
                      v-if="message.type == 'RoomSystemMessage'"
                      >[{{ message.sender }} in {{ message.room }}]</span
                    >
                    <span
                      style="color: #68c4c4"
                      v-if="message.type == 'WhisperSystemMessage'"
                      >[{{ message.sender }} in {{ message.room }}]</span
                    >
                    {{ message.content }}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--right big-->
        <div class="col">
          <div class="row">
            <div class="col">
              <!--Dropdown for Production-->

              <select v-model="messageRecipientRoom">
                <option value="-1">@Entire dungeon</option>
                <option
                  v-for="room in this.$store.state.room.rooms"
                  v-bind:key="room.scopedID"
                  :value="room.scopedID.toString()"
                >
                  {{ room.displayName }}
                </option>
              </select>

              <!--Input for testing
              <input v-model="messageRecipientRoom" placeholder="@Room" />-->
            </div>
          </div>
          <div class="row">
            <div class="col">
              <!--Dropdown for Production-->
              <select v-model="messageRecipient" @focus="loadAvatarNames">
                <option selected value="">@All players</option>
                <option v-for="name in allAvatarNames" :key="name">
                  {{ name }}
                </option>
              </select>
            </div>
          </div>
          <!--Toggle old-->
          <!--<div class="row">
            <div class="col" style="margin-bottom: 1em; text-align: left">
              <button @click="toggleSystem" class="toggleButton">
                {{ messageSystem ? "Systemmessage" : "Chatmessage" }}
              </button>
            </div>
          </div>-->
          <!--Toggle Messagetype-->
          <div class="row">
            <div class="col">
              <div class="labelOption">
                <div class="row">
                  <div class="col">
                    <div class="row">
                      <div class="col-md-auto">
                        <label class="switch">
                          <input type="checkbox" @change="toggleSystem" />
                          <span class="slider round"></span>
                        </label>
                      </div>
                      <div class="col">
                        <p class="switchLabel">
                          Type:
                          {{ messageSystem ? "Systemmessage" : "Chatmessage" }}
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col" style="padding-right: 1%">
              <input
                @keyup.enter="onClickSendMessage"
                v-model="messageContent"
                placeholder="Send Message"
                title="Send Message"
              />
            </div>
            <div class="col-3" style="padding-left: 1%">
              <button @click="onClickSendMessage">Send</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import * as chat from "@/util/chatclient.js";
import * as api from "@/util/apiwrapper.js";
export default {
  name: "DungeonMasterGeneralTabComponent",
  components: {},
  data() {
    return {
      messageContent: "",
      messageRecipient: "",
      messageRecipientRoom: "-1",
      messageSystem: false,

      allAvatarNames: [],

      roomFilter: "",
      priorityFilter: "0",
      messageFilter: "",
    };
  },
  methods: {
    toggleSystem() {
      this.messageSystem = !this.messageSystem;
    },

    async loadAvatarNames() {
      try {
        this.allAvatarNames = await api.getAvatarNames(
          this.$route.query.dungeon
        );
      } catch (error) {
        this.allAvatarNames = [];
      }
    },

    async onClickSendMessage() {
      var msg;

      // Determine messagetype based on inputs
      if (this.messageRecipient != "" && this.messageSystem == false) {
        msg = chat.createWhisperChatMessage(
          this.messageRecipient,
          this.messageContent.trim()
        );
      } else if (this.messageRecipient != "" && this.messageSystem == true) {
        msg = chat.createWhisperSystemMessage(
          this.messageRecipient,
          this.messageContent.trim()
        );
      } else if (
        parseInt(this.messageRecipientRoom, 10) > 0 &&
        this.messageSystem == false
      ) {
        msg = chat.createRoomChatMessage(
          this.messageRecipientRoom,
          this.$store.state.room.rooms.find(
            (r) => r.scopedID == this.messageRecipientRoom
          ).displayName,
          this.messageContent.trim()
        );
      } else if (
        parseInt(this.messageRecipientRoom, 10) > 0 &&
        this.messageSystem == true
      ) {
        msg = chat.createRoomSystemMessage(
          this.messageRecipientRoom,
          this.$store.state.room.rooms.find(
            (r) => r.scopedID == this.messageRecipientRoom
          ).displayName,
          this.messageContent.trim()
        );
      } else if (this.messageSystem == true) {
        msg = chat.createDungeonSystemMessage(this.messageContent.trim());
      } else {
        msg = chat.createDungeonChatMessage(this.messageContent.trim());
      }

      this.$store.dispatch("chat/sendMessage", msg);
      this.messageContent = "";
    },
  },
  computed: {
    chatmessages: {
      get() {
        var filteredMessages = this.$store.getters["chat/chatMessages"].filter(
          (m) => {
            var isSelectedRoom =
              this.roomFilter == "" || m.room == this.roomFilter;
            var isSelectedType =
              this.messageFilter == "" || m.type == "WhisperChatMessage";

            return isSelectedRoom && isSelectedType;
          }
        );

        return filteredMessages;
      },
    },
    systemmessages: {
      get() {
        var filtered = this.$store.getters["chat/systemMessages"].filter(
          (m) => {
            var isSelectedRoom =
              this.roomFilter == "" || m.room == this.roomFilter;
            var isSelectedPrio = m.priority >= parseInt(this.priorityFilter);

            return isSelectedRoom && isSelectedPrio;
          }
        );
        return filtered;
      },
    },
  },
  watch: {
    chatmessages() {
      setTimeout(() => {
        if (!this.userScrolled) {
          var container = this.$el.querySelector("#chatContainer");
          container.scroll({
            top: container.scrollHeight,
            left: 0,
          });
        }
      }, 10);
    },
    systemmessages() {
      setTimeout(() => {
        if (!this.userScrolled) {
          var container = this.$el.querySelector("#systemContainer");
          container.scroll({
            top: container.scrollHeight,
            left: 0,
          });
        }
      }, 10);
    },
  },
};
</script>

<style scoped>
.actionbox {
  background-color: #00101b;
  border-radius: 2em;
  border-style: solid;
  border-color: #46606d;
  border-width: 1em;
  margin-bottom: 1em;
  box-shadow: 0.1em 0.1em #000000a8;
}

.actionContent {
  text-align: left;
  color: white;
  margin: 0.5em;
  overflow-y: scroll;
  overflow-x: visible;
  /*Viewheight - Top - Bottom - Tabheight - boarderheight - margins - dropdownheight - margin - dropdownheight - margin*/
  height: calc(100vh - 5vh - 5vh - 64px - 4em - 1em - 48px - 1em - 48px - 1em);
  word-wrap: break-word;
}

.actionText {
  color: #ffffff;
}

.chatbox {
  text-align: left;
  background-color: #00101b;
  border-radius: 2em;
  border-style: solid;
  border-color: #46606d;
  border-width: 1em;
  margin-bottom: 1em;
  box-shadow: 0.1em 0.1em #000000a8;
}

.chatContent {
  margin: 0.5em;
  overflow-y: scroll;
  overflow-x: visible;
  /*Viewheight - Top - Bottom - Tabheight - boarderheight - margins - dropdownheight - margin - dropdownheight - margin*/
  height: calc(100vh - 5vh - 5vh - 64px - 4em - 1em - 48px - 1em - 48px - 1em);
  word-wrap: break-word;
}

.dungeonMasterGeneralTabComponent {
  padding: 1em;
}

.tabs {
  color: #ffffff;
  margin-bottom: 1em;
  border-style: solid;
  border-color: #743f40;
}

.labelOption {
  background-color: #743f40;
  padding: 1em;
  padding-bottom: 0.25em;
  margin-bottom: 1em;
  border-radius: 1em;
  color: #ffffff;
  box-shadow: 0.1em 0.1em #000000a8;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #1c423b;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #1c423b;
}

input:focus + .slider {
  box-shadow: 0 0 1px #1c423b;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.switchLabel {
  text-align: left;
  color: #ffffff;
  font-size: 1.25em;
}

input {
  border-radius: 0.75em;
  height: 2em;
  width: 100%;
  border-style: none;
  font-size: 1em;
  background-color: #3f7473;
  color: #ffffff;
  display: inline-block;
  box-shadow: 0.1em 0.1em #000000a8;
  margin-bottom: 1em;
}

select {
  border-radius: 0.75em;
  height: 2em;
  width: 100%;
  font-size: 1em;
  display: inline-block;
  box-shadow: 0.1em 0.1em #000000a8;
  background-color: #1c423b;
  color: #ffffff;
  border-style: none;
  margin-bottom: 1em;
}

label {
  color: #ffffff;
}

button {
  border-radius: 0.75em;
  height: 2em;
  width: 100%;
  font-size: 1em;
  background-color: #74733f;
  color: #ffffff;
}

.toggleButton {
  border-radius: 0.75em !important;
  height: 2em !important;
  padding-left: 1em !important;
  padding-right: 1em !important;
  font-size: 1em !important;
  background-color: #1c423b !important;
  color: #ffffff !important;
  bottom: 1em !important;
  width: 100% !important;
}

h2 {
  color: #ffffff;
  margin-bottom: 1em;
}
</style>