<template>
  <div class="dungeonMasterRacesClassesTabComponent">
    <div class="row">
      <!--left-->
      <div class="col">
        <!--Toggle Objects/ Actions-->
        <div class="row">
          <div class="col">
            <div class="labelOption">
              <div class="row">
                <div class="col">
                  <div class="row">
                    <div class="col-md-auto">
                      <label class="switch">
                        <input type="checkbox" @change="toggleMode" />
                        <span class="slider round"></span>
                      </label>
                    </div>
                    <div class="col">
                      <p class="switchLabel">Editing: {{ mode }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--Searchbox-->
        <div class="row">
          <div class="col">
            <input
              v-if="mode == 'Race'"
              v-model="inputSearch"
              placeholder="Search Race"
              title="Search Race"
            />
            <input
              v-else-if="mode == 'Class'"
              v-model="inputSearch"
              placeholder="Search Class"
              title="Search Class"
            />
          </div>
        </div>
        <!--List-->
        <div class="row">
          <div class="col">
            <div class="list">
              <!--Race Content-->
              <div v-if="mode == 'Race'" class="listContent">
                <p
                  v-for="race in filteredRaces"
                  v-bind:key="race.globalID"
                  v-bind:class="{
                    activeRaceEntry: race.displayName == selectedRaceName,
                  }"
                  @click="onClickList(race.globalID)"
                  style="cursor: pointer"
                >
                  {{ race.displayName }}
                </p>
              </div>
              <!--Class Content-->
              <div v-else-if="mode == 'Class'" class="listContent">
                <p
                  v-for="avatarClass in filteredClasses"
                  v-bind:key="avatarClass.globalID"
                  v-bind:class="{
                    activeRaceEntry:
                      avatarClass.displayName == selectedClassName,
                  }"
                  @click="onClickList(avatarClass.globalID)"
                  style="cursor: pointer"
                >
                  {{ avatarClass.displayName }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--right-->
      <div class="col">
        <!--Name Input-->
        <div class="row">
          <div class="col">
            <input
              v-if="mode == 'Race'"
              v-model="selectedRaceName"
              placeholder="Race Name"
              title="Race Name"
            />
            <input
              v-else-if="mode == 'Class'"
              v-model="selectedClassName"
              placeholder="Class Name"
              title="Class Name"
            />
          </div>
        </div>
        <!--Desc Input-->
        <div class="row">
          <div class="col">
            <textarea
              v-if="mode == 'Race'"
              v-model="selectedRaceDesc"
              placeholder=" Race Description"
              title="Race Description"
            />
            <textarea
              v-else-if="mode == 'Class'"
              v-model="selectedClassDesc"
              placeholder=" Class Description"
              title="Class Description"
            />
          </div>
        </div>
        <!--Hp Modifier-->
        <div class="row">
          <div class="col">
            <input
              v-if="mode == 'Race'"
              v-model="selectedRaceHpMod"
              placeholder="Race HP Modifier"
              title="Race HP Modifier"
            />
            <input
              v-if="mode == 'Class'"
              v-model="selectedClassHpMod"
              placeholder="Class HP Modifier"
              title="Class HP Modifier"
            />
          </div>
        </div>
        <!--Switch Visible-->
        <div class="row">
          <div class="col">
            <div class="labelOption">
              <div class="row">
                <div class="col-md-auto">
                  <label class="switch">
                    <input type="checkbox" @change="toggleVisible" />
                    <span class="slider round"></span>
                  </label>
                </div>
                <div class="col">
                  <p class="switchLabel">Is Visible: {{ this.visible }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--Button Update-->
        <div class="row">
          <div class="col">
            <button @click="updateItem">Update</button>
          </div>
        </div>
        <!--Button Add-->
        <div class="row">
          <div class="col">
            <button @click="addItem">Add</button>
            <!--ErrorMSG-->
            <div class="row">
              <div class="col errormsg">{{ this.errormsg }}</div>
            </div>
          </div>
        </div>
        <!--ErrorMSG-->
        <div class="row">
          <div class="col" id="errorMsg"></div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "DungeonMasterRacesClassesTabComponent",
  components: {},
  methods: {
    onClickList(id) {
      if (this.mode == "Race") {
        this.$store.dispatch("avatarrace/loadSelectedRace", id);
        if (this.selectedRaceVisible) {
          this.visible = "Yes";
        } else {
          this.visible = "No";
        }
      } else if (this.mode == "Class") {
        this.$store.dispatch("avatarclass/loadSelectedClass", id);
        if (this.selectedClassVisible) {
          this.visible = "Yes";
        } else {
          this.visible = "No";
        }
      }
    },
    toggleMode() {
      if (this.mode == "Class") {
        this.mode = "Race";
      } else {
        this.mode = "Class";
      }
      this.inputSearch = "";
    },
    toggleVisible() {
      if (this.visible == "Yes") {
        this.visible = "No";
        if (this.mode == "Race") {
          this.selectedRaceVisible = false;
        } else {
          this.selectedClassVisible = false;
        }
      } else {
        this.visible = "Yes";
        if (this.mode == "Race") {
          this.selectedRaceVisible = true;
        } else {
          this.selectedClassVisible = true;
        }
      }
    },
    async addItem() {
      console.log("addItem, mode: " + this.mode);
      if (this.mode == "Race") {
        if (this.$store.state.avatarrace.selectedRace.displayName == "") {
          this.errormsg = "Race needs a name";
          return;
        }

        try {
          await this.$store.dispatch(
            "avatarrace/createRace",
            this.$route.query.dungeon
          );
          await this.$store.dispatch(
            "avatarrace/clearRaces",
            this.$route.query.dungeon
          );
          await this.$store.dispatch(
            "avatarrace/loadRaces",
            this.$route.query.dungeon
          );

          this.errormsg = "";
        } catch (error) {
          console.error(error);
          this.errormsg = "Failed to create race";

          await this.$store.dispatch(
            "avatarrace/clearRaces",
            this.$route.query.dungeon
          );
          await this.$store.dispatch(
            "avatarrace/loadRaces",
            this.$route.query.dungeon
          );
        }
      } else if (this.mode == "Class") {
        if (this.$store.state.avatarclass.selectedClass.displayName == "") {
          this.errormsg = "Race needs a name";
          return;
        }

        try {
          await this.$store.dispatch(
            "avatarclass/createClass",
            this.$route.query.dungeon
          );
          await this.$store.dispatch(
            "avatarclass/clearClasses",
            this.$route.query.dungeon
          );
          await this.$store.dispatch(
            "avatarclass/loadClasses",
            this.$route.query.dungeon
          );

          this.errormsg = "";
        } catch (error) {
          console.error(error);
          this.errormsg = "Failed to create class";

          await this.$store.dispatch(
            "avatarclass/clearClasses",
            this.$route.query.dungeon
          );
          await this.$store.dispatch(
            "avatarclass/loadClasses",
            this.$route.query.dungeon
          );
        }
      }
    },
    async updateItem() {
      console.log("updateItem, mode: " + this.mode);
      if (this.mode == "Race") {
        if (this.$store.state.avatarrace.selectedRace.globalID < 1) {
          this.errormsg = "No race selected!";
          return;
        }
        if (this.$store.state.avatarrace.selectedRace.displayName == "") {
          this.errormsg = "Race needs a name!";
          return;
        }

        try {
          await this.$store.dispatch(
            "avatarrace/updateRace",
            this.$route.query.dungeon
          );
          await this.$store.dispatch(
            "avatarrace/loadRaces",
            this.$route.query.dungeon
          );
          await this.$store.dispatch(
            "avatarrace/loadSelectedRace",
            this.$store.state.avatarrace.selectedRace.globalID
          );

          this.errormsg = "";
        } catch (error) {
          console.log(error);
          this.errormsg = "Failed to update race";
          await this.$store.dispatch(
            "avatarrace/clearRaces",
            this.$route.query.dungeon
          );
          await this.$store.dispatch(
            "avatarrace/loadRaces",
            this.$route.query.dungeon
          );
        }
      } else if (this.mode == "Class") {
        if (this.$store.state.avatarclass.selectedClass.globalID < 1) {
          this.errormsg = "No class selected!";
          return;
        }
        if (this.$store.state.avatarclass.selectedClass.displayName == "") {
          this.errormsg = "Class needs a name!";
          return;
        }

        try {
          await this.$store.dispatch(
            "avatarclass/updateClass",
            this.$route.query.dungeon
          );
          await this.$store.dispatch(
            "avatarclass/loadClasses",
            this.$route.query.dungeon
          );

          this.$store.dispatch(
            "avatarclass/loadSelectedClass",
            this.$store.state.avatarclass.selectedClass.globalID
          );

          this.errormsg = "";
        } catch (error) {
          console.log(error);
          this.errormsg = "Failed to update class";
          await this.$store.dispatch(
            "avatarclass/clearClasses",
            this.$route.query.dungeon
          );
          await this.$store.dispatch(
            "avatarclass/loadClasses",
            this.$route.query.dungeon
          );
        }
      }
    },
  },
  data() {
    return {
      errormsg: "",
      mode: "Race",
      visible: "Yes",
      inputSearch: "",
      inputName: "",
      inputDesc: "",
      inputHpMod: "",
    };
  },
  computed: {
    selectedRaceName: {
      get() {
        return this.$store.state.avatarrace.selectedRace.displayName;
      },
      set(value) {
        var r = this.$store.state.avatarrace.selectedRace;
        r.displayName = value.trim();
        this.$store.commit("avatarrace/SET_SELECTEDRACE", r);
      },
    },
    filteredClasses: {
      get() {
        return this.$store.state.avatarclass.classes.filter((aClass) =>
          aClass.displayName
            .toLowerCase()
            .includes(this.inputSearch.toLowerCase())
        );
      },
    },
    filteredRaces: {
      get() {
        return this.$store.state.avatarrace.races.filter((race) =>
          race.displayName
            .toLowerCase()
            .includes(this.inputSearch.toLowerCase())
        );
      },
    },
    selectedRaceDesc: {
      get() {
        return this.$store.state.avatarrace.selectedRace.description;
      },
      set(vlaue) {
        var r = this.$store.state.avatarrace.selectedRace;
        r.description = vlaue.trim();
        this.$store.commit("avatarrace/SET_SELECTEDRACE", r);
      },
    },

    selectedRaceHpMod: {
      get() {
        return this.$store.state.avatarrace.selectedRace.HPModifier;
      },
      set(value) {
        value = Number(value);
        if (value == Number.NaN) {
          value == 100;
        }

        var r = this.$store.state.avatarrace.selectedRace;
        r.HPModifier = value;
        this.$store.commit("avatarrace/SET_SELECTEDRACE", r);
      },
    },

    selectedClassName: {
      get() {
        return this.$store.state.avatarclass.selectedClass.displayName;
      },
      set(value) {
        var c = this.$store.state.avatarclass.selectedClass;
        c.displayName = value.trim();
        this.$store.commit("avatarclass/SET_SELECTEDCLASS", c);
      },
    },

    selectedClassDesc: {
      get() {
        return this.$store.state.avatarclass.selectedClass.description;
      },
      set(value) {
        var c = this.$store.state.avatarclass.selectedClass;
        c.description = value.trim();
        this.$store.commit("avatarclass/SET_SELECTEDCLASS", c);
      },
    },

    selectedClassHpMod: {
      get() {
        return this.$store.state.avatarclass.selectedClass.HPModifier;
      },
      set(value) {
        value = Number(value);
        if (value == Number.NaN) {
          value == 100;
        }
        var c = this.$store.state.avatarclass.selectedClass;
        c.HPModifier = value;
        this.$store.commit("avatarclass/SET_SELECTEDCLASS", c);
      },
    },

    selectedRaceVisible: {
      get() {
        return this.$store.state.avatarrace.selectedRace.isEnabled;
      },
      set(value) {
        var c = this.$store.state.avatarrace.selectedRace;
        c.isEnabled = value;
        this.$store.commit("avatarrace/SET_SELECTEDRACE", c);
      },
    },

    selectedClassVisible: {
      get() {
        return this.$store.state.avatarclass.selectedClass.isEnabled;
      },
      set(value) {
        var c = this.$store.state.avatarclass.selectedClass;
        c.isEnabled = value;
        this.$store.commit("avatarclass/SET_SELECTEDCLASS", c);
      },
    },
  },
  async created() {},
};
</script>

<style scoped>
.errormsg {
  color: red;
}

.dungeonMasterRacesClassesTabComponent {
  margin: 1em;
  color: #ffffff;
}

.visibleGroup {
  background-color: #743f40;
  padding: 1em;
  margin-bottom: 1em;
  border-radius: 1em;
  color: #ffffff;
}

.activeRaceEntry {
  color: #c3dd76 !important;
}

.list {
  border: 1em solid #46606d;
  border-radius: 2em;
  padding: 1em;
  margin-bottom: 1em;
  text-align: left;
  overflow: auto;
  /*Viewheight - Top - Bottom - Tabheight - boarderheight - margins - inputheight - margin*/
  height: calc(100vh - 5vh - 5vh - 4em - 82px - 2em - 1em - 48px - 1em);
  word-wrap: break-word;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #1c423b;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #1c423b;
}

input:focus + .slider {
  box-shadow: 0 0 1px #1c423b;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.switchLabel {
  text-align: left;
  color: #ffffff;
  font-size: 1.25em;
}

.labelOption {
  background-color: #743f40;
  padding: 1em;
  padding-bottom: 0.25em;
  margin-bottom: 1em;
  border-radius: 1em;
  color: #ffffff;
  box-shadow: 0.1em 0.1em #000000a8;
}

input {
  border-radius: 0.75em;
  height: 2em;
  width: 100%;
  border-style: none;
  font-size: 1em;
  background-color: #3f7473;
  color: #ffffff;
  display: inline-block;
  box-shadow: 0.1em 0.1em #000000a8;
  margin-bottom: 1em;
}

textarea {
  border-radius: 0.75em;
  height: calc(100vh - 10vh - 8em - 3em - 16.5em);
  width: 100%;
  border-style: none;
  font-size: 1em;
  background-color: #3f7473;
  color: #ffffff;
  display: inline-block;
  box-shadow: 0.1em 0.1em #000000a8;
  margin-bottom: 1em;
  resize: none;
}

button {
  border-radius: 0.75em;
  height: 2em;
  padding-left: 1em;
  padding-right: 1em;
  font-size: 1em;
  background-color: #74733f;
  color: #ffffff;
  bottom: 1em;
  width: 100%;
  margin-bottom: 1em;
}
</style>