<template>
  <div class="dungeonCopy">
    <h1>Copy Dungeon</h1>
    <div class="dungeonCopyArea">
      <div class="row">
        <div class="col">
          <input
            v-model="newName"
            type="text"
            id="newName"
            name="newName"
            placeholder="New Name for Dungeon"
            title="New Name for Dungeon"
          /><br />
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button @click="onClickCopy">Copy Dungeon</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p id="errorMsg">{{ this.errorMsg }}</p>
      </div>
    </div>
  </div>
</template>

<script>
import * as api from "@/util/apiwrapper.js";
export default {
  name: "DungeonCopy",
  data() {
    return {
      newName: "",
      errorMsg: "",
    };
  },
  methods: {
    async onClickCopy() {
      try {
        await api.copyDungeon(this.$route.query.dungeon, this.newName);
        this.$router.push({
          path: "/gamedungeonmaster",
          query: { dungeon: this.newName },
        });
      } catch (error) {
        this.errorMsg = "Dungeon copy failed.";
      }
    },
  },
  created() {
    // Beim Erstellen des Components
  },
};
</script>



<style scoped>
.dungeonCopyArea {
  border-radius: 1em;
  background-color: #743f40;
  text-align: left;
  display: inline-block;
  padding: 2em;
  box-shadow: 0.1em 0.1em #000000a8;
}

input {
  border-radius: 0.75em;
  height: 2em;
  width: 25em;
  border-style: none;
  font-size: 1em;
  margin-bottom: calc(0.75em + 1.4em);
  background-color: #3f7473;
  color: #ffffff;
  box-shadow: 0.1em 0.1em #000000a8;
  padding-right: 1em;
  padding-left: 1em;
}

button {
  border-radius: 0.75em;
  height: 2em;
  width: 100%;
  font-size: 1em;
  background-color: #74733f;
  color: #ffffff;
}

h1 {
  color: #ffffff;
}

#errorMsg {
  color: #ff0000;
  text-align: center;
  font-size: 1.2em;
}
</style>