<template>
  <div class="deleteDungeon">
    <h1>Delete Dungeon</h1>
    <div class="deleteDungeonArea">
      <p>
        Are you sure that you want to
        <span style="font-weight: bold; text-decoration: underline"
          >delete</span
        >
        the dungeon?
      </p>
      <p>
        This can
        <span style="font-weight: bold; text-decoration: underline">not</span>
        be reversed!
      </p>
      <div class="row">
        <div class="col">
          <button @click="onClickDelete">Delete Dungeon</button>
        </div>
        <div class="col">
          <button @click="onClickAbort">Abort</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import * as api from "@/util/apiwrapper.js";
export default {
  name: "DungeonRemoveConfirmation",
  data() {
    return {
      dungeonID: this.$route.query.dungeon,
    };
  },
  methods: {
    async onClickDelete() {
      try {
        await api.removeDungeon(this.dungeonID);
        this.$router.push("/lobby");
      } catch (error) {
        console.log(error.response);
      }
    },
    onClickAbort() {
      this.$router.push({path: "/gameDungeonMaster", query: {dungeon: this.dungeonID}});
    },
  },
  created() {
    // Beim Erstellen des Components
  },
};
</script>

<style scoped>
.deleteDungeonArea {
  border-radius: 1em;
  background-color: #743f40;
  text-align: center;
  display: inline-block;
  padding: 2em;
  box-shadow: 0.1em 0.1em #000000a8;
  min-width: 400px;
}

button {
  border-radius: 0.75em;
  height: 2em;
  font-size: 1em;
  background-color: #74733f;
  color: #ffffff;
  width: 180px;
  margin-top: 1em;
}

h1 {
  color: #ffffff;
  font-style: bold;
  font-size: 2em;
}
p {
  color: #ffffff;
  font-size: 1.2em;
}
</style>