<template>
  <div class="dungeonMasterGlobalMessagesComponent">
    <div class="row">
      <div class="col">
        <div class="actionbox">
          <div class="actionContent" id="systemContainer">
            <!--v-for every p Element-->
            <p v-for="(message, index) in systemmessages" :key="index">
              <span
                v-if="message.type == 'ActionAlertMessage' && message.priority == 0"
                style="color: white"
                >[{{ message.sender }}, {{ message.room }}]
              </span>
              <span
                v-if="message.type == 'ActionAlertMessage' && message.priority == 1"
                style="color: #c3dd76"
                >[{{ message.sender }}, {{ message.room }}]
              </span>
              <span
                v-if="message.type == 'ActionAlertMessage' && message.priority == 2"
                style="color: #c2a813 "
                >[{{ message.sender }}, {{ message.room }}]
              </span>
              <span
                v-if="message.type == 'ActionAlertMessage' && message.priority == 3"
                style="color: #db5680"
                >[{{ message.sender }}, {{ message.room }}]
              </span>
              <span
                v-if="
                  message.type == 'WhisperSystemMessage' ||
                  message.type == 'RoomSystemMessage' ||
                  message.type == 'DungeonSystemMessage'
                "
                style="color: #db5680"
                >[DM]
              </span>
              {{ message.content }}
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="chatbox">
          <div class="chatContent" id="chatContainer">
            <!--v-for every p Element-->
            <p v-for="(message, index) in chatmessages" v-bind:key="index">
              <span
                style="color: #db5680"
                v-if="message.type == 'DungeonChatMessage'"
              >
                {{ message.sender }}:
              </span>
              <span
                style="color: #c3dd76"
                v-if="message.type == 'RoomChatMessage'"
              >
                {{ message.sender }} in {{ message.room }}:
              </span>
              <span
                style="color: #68c4c4"
                v-if="message.type == 'WhisperChatMessage'"
              >
                {{ message.sender }} in {{ message.room }}:
              </span>
              <span
                style="color: #db5680"
                v-if="message.type == 'DungeonSystemMessage'"
                >[{{ message.sender }}]</span
              >
              <span
                style="color: #c3dd76"
                v-if="message.type == 'RoomSystemMessage'"
                >[{{ message.sender }} in {{ message.room }}]</span
              >
              <span
                style="color: #68c4c4"
                v-if="message.type == 'WhisperSystemMessage'"
                >[{{ message.sender }} in {{ message.room }}]</span
              >
              {{ message.content }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "DungeonMasterGlobalMessagesComponent",
  components: {},
  methods: {},
  computed: {
    chatmessages: {
      get() {
        return this.$store.getters["chat/chatMessages"];
      },
    },
    systemmessages: {
      get() {
        return this.$store.getters["chat/systemMessages"];
      },
    },
  },
  watch: {
    chatmessages() {
      setTimeout(() => {
        if (!this.userScrolled) {
          var container = this.$el.querySelector("#chatContainer");
          container.scroll({
            top: container.scrollHeight,
            left: 0,
          });
        }
      }, 10);
    },
    systemmessages() {
      setTimeout(() => {
        if (!this.userScrolled) {
          var container = this.$el.querySelector("#systemContainer");
          container.scroll({
            top: container.scrollHeight,
            left: 0,
          });
        }
      }, 10);
    },
  },
};
</script>

<style scoped>
.dungeonMasterGlobalMessagesComponent {
}

.actionbox {
  background-color: #00101b;
  border-radius: 2em;
  border-style: solid;
  border-color: #46606d;
  border-width: 1em;
  margin-bottom: 2vh;
  box-shadow: 0.1em 0.1em #000000a8;
  height: calc(43vh - 32px);
  padding: 0.5em;
}

.chatbox {
  text-align: left;
  padding: 0.5em;
  background-color: #00101b;
  border-radius: 2em;
  border-style: solid;
  border-color: #46606d;
  border-width: 1em;
  margin-bottom: 2vh;
  box-shadow: 0.1em 0.1em #000000a8;
  height: calc(43vh - 32px);
}

.actionContent {
  height: 100%;
  text-align: left;
  margin: 0;
  overflow-y: scroll;
  overflow-x: visible;
  width: 100%;
  word-wrap: break-word;
}

.chatContent {
  margin: 0;
  overflow-y: scroll;
  overflow-x: visible;
  height: 100%;
  width: 100%;
  word-wrap: break-word;
}

p {
  color: #ffffff;
}
</style>
