<template>
  <div class="dungeonMasterGame">
    <div class="row">
      <!-- Left -->
      <div class="col-4">
        <div class="left">
          <div class="row">
            <div class="col">
              <DungeonMasterGlobalMessagesComponent />
            </div>
          </div>
          <div class="row">
            <div class="col">
              <GameViewsUI />
            </div>
          </div>
        </div>
      </div>
      <!-- Right -->
      <div class="col">
        <div class="tabBox">
          <div class="tabs-top">
            <div class="row">
              <div class="col">
                <div
                  class="tab"
                  @click="tabToShow = 0"
                  v-bind:class="{ activeTab: tabToShow == 0 }"
                >
                  General
                </div>
              </div>
              <div class="col">
                <div
                  class="tab"
                  @click="tabToShow = 1"
                  v-bind:class="{ activeTab: tabToShow == 1 }"
                >
                  Avatars
                </div>
              </div>
              <div class="col">
                <div
                  class="tab"
                  @click="tabToShow = 2"
                  v-bind:class="{ activeTab: tabToShow == 2 }"
                >
                  Races & <br />Classes
                </div>
              </div>
              <div class="col">
                <div
                  class="tab"
                  @click="tabToShow = 3"
                  v-bind:class="{ activeTab: tabToShow == 3 }"
                >
                  Rooms
                </div>
              </div>
              <div class="col">
                <div
                  class="tab"
                  @click="tabToShow = 4"
                  v-bind:class="{ activeTab: tabToShow == 4 }"
                >
                  Objects
                </div>
              </div>
              <div class="col">
                <div
                  class="tab"
                  @click="tabToShow = 5"
                  v-bind:class="{ activeTab: tabToShow == 5 }"
                >
                  Actions
                </div>
              </div>
              <div class="col">
                <div
                  class="tab"
                  @click="tabToShow = 6"
                  v-bind:class="{ activeTab: tabToShow == 6 }"
                >
                  Dungeon
                </div>
              </div>
              <div class="col">
                <div
                  class="tab"
                  @click="tabToShow = 7"
                  v-bind:class="{ activeTab: tabToShow == 7 }"
                >
                  User
                </div>
              </div>
            </div>
          </div>

          <div class="tab-content">
            <div v-if="tabToShow == 0">
              <slot>
                <DungeonMasterGeneralTabComponent />
              </slot>
            </div>
            <div v-if="tabToShow == 1">
              <DungeonMasterAvatarsTabComponent />
            </div>
            <div v-if="tabToShow == 2">
              <slot>
                <DungeonMasterRacesClassesTabComponent />
              </slot>
            </div>
            <div v-if="tabToShow == 3">
              <slot>
                <DungeonMasterRoomsTabComponent />
              </slot>
            </div>
            <div v-if="tabToShow == 4">
              <DungeonMasterObjectsTabComponent />
            </div>
            <div v-if="tabToShow == 5">
              <DungeonMasterActionsTabComponent />
            </div>
            <div v-if="tabToShow == 6">
              <slot>
                <DungeonMasterDungeonTabComponent />
              </slot>
            </div>
            <div v-if="tabToShow == 7">
              <slot>
                <DungeonMasterUserTabComponent />
              </slot>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import GameViewsUI from "@/components/sharedComponents/GameViewsUI.vue";
import DungeonMasterGlobalMessagesComponent from "@/components/dmComponents/DungeonMasterGlobalMessagesComponent.vue";
import DungeonMasterGeneralTabComponent from "@/components/dmComponents/DungeonMasterGeneralTabComponent.vue";
import DungeonMasterRacesClassesTabComponent from "@/components/dmComponents/DungeonMasterRacesClassesTabComponent.vue";
import DungeonMasterRoomsTabComponent from "@/components/dmComponents/DungeonMasterRoomsTabComponent.vue";
import DungeonMasterDungeonTabComponent from "@/components/dmComponents/DungeonMasterDungeonTabComponent.vue";
import DungeonMasterObjectsTabComponent from "@/components/dmComponents/DungeonMasterObjectsTabComponent.vue";
import DungeonMasterAvatarsTabComponent from "@/components/dmComponents/DungeonMasterAvatarsTabComponent.vue";
import DungeonMasterActionsTabComponent from "@/components/dmComponents/DungeonMasterActionsTabComponent.vue";
import DungeonMasterUserTabComponent from "@/components/dmComponents/DungeonMasterUserTabComponent.vue";

export default {
  name: "DungeonMasterGame",
  components: {
    GameViewsUI,
    DungeonMasterGlobalMessagesComponent,
    DungeonMasterGeneralTabComponent,
    DungeonMasterRacesClassesTabComponent,
    DungeonMasterRoomsTabComponent,
    DungeonMasterDungeonTabComponent,
    DungeonMasterObjectsTabComponent,
    DungeonMasterAvatarsTabComponent,
    DungeonMasterActionsTabComponent,
    DungeonMasterUserTabComponent,
  },
  data() {
    return {
      tabToShow: 0,
    };
  },
  async created() {
    // handlers not used right now
    var openHandler = async () => {
      // init data
      try {
        await Promise.all([
          this.$store.dispatch(
            "room/loadShortRooms",
            this.$route.query.dungeon
          ),
          this.$store.dispatch(
            "avatarrace/loadRaces",
            this.$route.query.dungeon
          ),
          this.$store.dispatch(
            "avatarclass/loadClasses",
            this.$route.query.dungeon
          ),
          this.$store.dispatch(
            "objecttemplate/loadObjects",
            this.$route.query.dungeon
          ),
          this.$store.dispatch("avatar/loadAvatars", this.$route.query.dungeon),
          this.$store.dispatch("action/loadActions", this.$route.query.dungeon),
          this.$store.dispatch("user/loadWhitelist", this.$route.query.dungeon),
          this.$store.dispatch("user/loadBlacklist", this.$route.query.dungeon),
          this.$store.dispatch("user/loadDMlist", this.$route.query.dungeon),
          this.$store.dispatch("user/loadJoinRequests", this.$route.query.dungeon),
        ]);
        await this.$store.dispatch(
          "dungeon/loadDungeon",
          this.$route.query.dungeon
        );
      } catch (error) {
        console.log(error);
      }
    };
    var errorHandler = async function (event) {
      console.error(event);
      this.$router.push({ name: "ChatError" });
    };
    var closeHandler = (event) => {
      console.error(event);
      //this.$router.push({ name: "ChatError" });
    };

    // Build the connection
    await this.$store.dispatch("chat/connectToChat", {
      dungeonName: this.$route.query.dungeon,
      asDM: true,
      openHandler,
      errorHandler,
      closeHandler,
    });
  },
  async beforeDestroy() {
    await this.$store.dispatch("chat/closeChat");
    this.$store.dispatch("avatarclass/clearClasses");
    this.$store.dispatch("avatarrace/clearRaces");
    this.$store.dispatch("room/clearRooms");
    this.$store.dispatch("dungeon/clearDungeon");
    this.$store.dispatch("avatar/clearAvatars");
    this.$store.dispatch(
      "objecttemplate/clearObjects",
      this.$route.query.dungeon
    );
    this.$store.dispatch("action/clearActions", this.$route.query.dungeon);
  },
};
</script>

<style scoped>
.dungeonMasterGame {
  overflow: hidden;
}

.left {
  margin-left: 2em;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.activeTab {
  color: #c3dd76 !important;
}

.tabBox {
  background-color: #00101b;
  border: 1em solid #743f40;
  border-radius: 2em;
  margin-left: 2em;
  margin-right: 2em;
  margin-top: 5vh;
  margin-bottom: 5vh;
  margin-left: 0;
  height: 90vh;
  box-shadow: 0.1em 0.1em #000000a8;
}

.tabs-top {
  border-bottom: 1em solid #743f40;
}

.tab-content {
}

.tab {
  cursor: pointer;
  color: #ffffff;
  height: 100%;
}
</style>