<template>
  <div class="dungeonRemove">
    <DungeonRemoveConfirmationComponent />
  </div>
</template>

<script>
import DungeonRemoveConfirmationComponent from "@/components/dmComponents/DungeonRemoveConfirmationComponent.vue";
export default {
  name: "DungeonRemoveConfirmation",
  components: {
    DungeonRemoveConfirmationComponent,
  },
};
</script>

<style scoped>
.dungeonRemove {
  position: absolute;
  top: 25%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
</style>
