<template>
  <div class="copy">
    <DungeonCopyComponent />
  </div>
</template>

<script>
import DungeonCopyComponent from "@/components/dmComponents/DungeonCopyComponent.vue";
export default {
  name: "DungeonCopy",
  components: {
    DungeonCopyComponent,
  },
};
</script>

<style scoped>
.copy {
  position: absolute;
  top: 25%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
</style>
