<template>
  <div class="dungeonCreation">
    <DungeonCreationComponent />
  </div>
</template>

<script>
import DungeonCreationComponent from "@/components/lobbyComponents/DungeonCreationComponent.vue";
export default {
  name: "DungeonCreation",
  components: {
    DungeonCreationComponent,
  },
};
</script>

<style scoped>
.dungeonCreation {
  position: absolute;
  top: 25%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
</style>