<template>
  <div class="lobby">
    <div class="row">
      <div class="col" id="header">
        <LobbyTopUIComponent
          :dungeonSearchInput="dungeonFilter"
          @inputSearch="inputSearch"
        />
      </div>
    </div>
    <div class="row">
      <div class="col" id="dungeonList">
        <LobbyComponent
          v-for="dungeon in filteredDungeons"
          v-bind:key="dungeon.UUID"
          v-bind:dungeon="dungeon"
        ></LobbyComponent>
      </div>
    </div>
  </div>
</template>

<script>
import LobbyComponent from "@/components/lobbyComponents/LobbyComponent.vue";
import LobbyTopUIComponent from "@/components/lobbyComponents/LobbyTopUIComponent.vue";

import * as api from "@/util/apiwrapper.js";

export default {
  name: "Lobby",
  data() {
    return {
      dungeons: [],
      dungeonFilter: "",
    };
  },
  components: {
    LobbyComponent,
    LobbyTopUIComponent,
  },
  methods: {
    inputSearch(searchInput) {
      this.dungeonFilter = searchInput;
      console.log(this.dungeonFilter);
    },
  },
  async created() {
    try {
      // try to get the entire list of dungeons for the lobby
      this.dungeons = await api.getDungeonList();
      console.log(this.dungeons);
    } catch (error) {
      console.error(error);
    }
  },
  computed: {
    filteredDungeons: {
      get() {
        return this.dungeons.filter((dungeon) =>
          dungeon.uniqueName
            .toLowerCase()
            .includes(this.dungeonFilter.toLowerCase())
        );
      },
    },
  },
};
</script>


<style scoped>
#dungeonList {
  overflow-y: auto;
  height: calc(100vh - 140px);
  border-top: solid;
  color: gray;
  padding-top: 15px;
}
.lobby {
  width: calc(100vw - 15px);
}
</style>