<template>
  <div class="about">
    <div id="nav">
      <router-link to="/">Home</router-link> |
      <router-link to="/about">About</router-link>
    </div>
    <AboutComponent />
  </div>
</template>

<script>
import AboutComponent from "@/components/siteComponents/AboutComponent.vue";

export default {
  name: "About",
  components: {
    AboutComponent,
  },
  created() {
    // OnCreate
  },
};
</script>

<style scoped>
#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #a56b6b;
}

#nav a.router-link-exact-active {
  color: #c3dd76;
}
</style>
