<template>
  <div class="home">
    <div id="nav">
      <router-link to="/">Home</router-link> |
      <router-link to="/about">About</router-link>
    </div>
    <h1>Welcome to MUD-Golem!</h1>
    <HomeComponent />
  </div>
</template>

<script>
import HomeComponent from "@/components/siteComponents/HomeComponent.vue";
export default {
  name: "Home",
  components: {
    HomeComponent,
  },
};
</script>

<style scoped>
#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #a56b6b;
}

#nav a.router-link-exact-active {
  color: #c3dd76;
}

h1 {
  color: #ffffff;
}
</style>