<template>
  <div class="avatarCreation">
    <div class="avatarCreationArea">
      <div class="row" id="creationHeader">
        <div
          class="col"
          id="creationHeaderElementLeft"
          v-bind:class="{ activeTab: tabToShow == 0 }"
        >
          <h3>Race</h3>
        </div>
        <div
          class="col"
          id="creationHeaderElementCenter"
          v-bind:class="{ activeTab: tabToShow == 1 }"
        >
          <h3>Class</h3>
        </div>
        <div
          class="col"
          id="creationHeaderElementRight"
          v-bind:class="{ activeTab: tabToShow == 2 }"
        >
          <h3>Description</h3>
        </div>
      </div>
      <div class="row" id="tabContent">
        <div
          class="col"
          style="padding: 10px; padding-top: 0; padding-bottom: 0"
        >
          <PlayerAvatarCreationRacesComponent
            @click="onRaceChange"
            v-if="tabToShow == 0"
          />
          <PlayerAvatarCreationClassesComponent
            @click="onClassChange"
            v-else-if="tabToShow == 1"
          />
          <PlayerAvatarCreationDescriptionComponent
            v-bind:name="value.uniqueName"
            v-bind:description="value.userDescription"
            v-on:inputName="onChangeName"
            v-on:inputDesc="onChangeDesc"
            v-else-if="tabToShow == 2"
          />
        </div>
      </div>
      <div class="row" id="creationFooter">
        <div
          class="col"
          id="creationFooterElementLeft"
          @click="onClickPrevious"
          v-if="tabToShow != 0"
        >
          <h3>Previous</h3>
        </div>
        <div
          class="col"
          id="creationFooterElementLeft"
          v-if="tabToShow == 0"
          style="
            cursor: default !important;
            background-color: #00101b !important;
            border-right: 0;
            padding-left: 1.6em;
          "
        ></div>
        <div class="col errormsg" id="creationFooterElementCenter">{{this.errormsg}}</div>
        <div
          class="col"
          id="creationFooterElementRight"
          @click="onClickNext"
          v-if="tabToShow != 2"
        >
          <h3>Next</h3>
        </div>
        <div
          class="col"
          id="creationFooterElementRight"
          v-if="tabToShow == 2"
          @click="$emit('create')"
        >
          <h3>Create</h3>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import PlayerAvatarCreationRacesComponent from "@/components/playerComponents/PlayerAvatarCreationRacesComponent.vue";
import PlayerAvatarCreationClassesComponent from "@/components/playerComponents/PlayerAvatarCreationClassesComponent.vue";
import PlayerAvatarCreationDescriptionComponent from "@/components/playerComponents/PlayerAvatarCreationDescriptionComponent.vue";
export default {
  name: "PlayerAvatarCreation",
  props: ["value", "errormsg"],
  components: {
    PlayerAvatarCreationRacesComponent,
    PlayerAvatarCreationClassesComponent,
    PlayerAvatarCreationDescriptionComponent,
  },
  data() {
    return {
      tabToShow: 0,
    };
  },
  methods: {
    onRaceChange(event) {
      var newValue = this.value;
      newValue.raceID = event;
      this.$emit("input", newValue);
    },

    onClassChange(event) {
      var newValue = this.value;
      newValue.classID = event;
      this.$emit("input", newValue);
    },

    onChangeName(event) {
      var newValue = this.value;
      newValue.uniqueName = event.trim();
      this.$emit("input", newValue);
    },

    onChangeDesc(event) {
      var newValue = this.value;
      newValue.userDescription = event.trim();
      this.$emit("input", newValue);
    },

    onClickNext() {
      this.tabToShow++;
    },
    onClickPrevious() {
      this.tabToShow--;
    },
  },
};
</script>


<style scoped>
.errormsg{
  color: red;
  text-align: center;
}

.avatarCreationArea {
  margin: 2em;
  background-color: #00101b;
  border-radius: 2em;
  border-style: solid;
  border-color: #743f40;
  border-width: 0.7em;
  text-align: left;
  display: inline-block;
  box-shadow: 0.1em 0.1em #000000a8;
  width: 90%;
  height: 80vh;
  padding: 0 5px 0 5px;
}

#creationHeader {
  margin-bottom: 0;
}

.activeTab h3 {
  color: #c3dd76 !important;
}

#creationHeaderElementLeft {
  border-style: solid;
  border-color: #743f40;
  border-width: 0.7em;
  border-top: hidden;
  border-left: hidden;
  padding-top: 0.5em;
  padding-bottom: 0.2em;
}

#creationHeaderElementRight {
  border-style: solid;
  border-color: #743f40;
  border-width: 0.7em;
  border-top: hidden;
  border-right: hidden;
  padding-top: 0.5em;
  padding-bottom: 0.2em;
}

#creationHeaderElementCenter {
  border-style: solid;
  border-color: #743f40;
  border-width: 0.7em;
  border-top: hidden;
  border-right: hidden;
  border-left: hidden;
  padding-top: 0.5em;
  padding-bottom: 0.2em;
}

#creationFooter {
  margin-top: 0;
}

#creationFooterElementLeft {
  border-style: solid;
  border-color: #743f40;
  border-width: 0.7em;
  border-radius: 0 0 0 2em;
  box-shadow: 0 0.1em #000000a8;
  padding-top: 0.5em;
  padding-bottom: 0.2em;
  background-color: #74733f;
  cursor: pointer;
}

#creationFooterElementRight {
  border-style: solid;
  border-color: #743f40;
  border-width: 0.7em;
  padding-top: 0.5em;
  padding-bottom: 0.2em;
  box-shadow: 0 0.1em #000000a8;
  background-color: #74733f;
  border-radius: 0 0 2em 0;
  cursor: pointer;
}

#creationFooterElementCenter {
  border-style: solid;
  border-color: #743f40;
  border-width: 0.7em;
  border-right: hidden;
  border-left: hidden;
  padding-top: 0.5em;
  padding-bottom: 0.2em;
  box-shadow: 0 0.1em #000000a8;
}

input {
  border-radius: 0.75em;
  height: 2em;
  width: 25em;
  border-style: none;
  font-size: 1em;
  margin-bottom: 0.75em;
  background-color: #3f7473;
  color: #ffffff;
  box-shadow: 0.1em 0.1em #000000a8;
  padding-right: 1em;
  padding-left: 1em;
}

button {
  border-radius: 0.75em;
  height: 2em;
  width: 150px;
  font-size: 1em;
  background-color: #74733f;
  color: #ffffff;
}

h1,
h3 {
  color: #ffffff;
  text-align: center;
}
</style>