<template>
  <div class="removeAvatarButton">
    <div class="row">
      <div class="col">
        <button @click="deleteAvatar">Delete Avatar</button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "PlayerRemoveAvatarButtonComponent",
  data() {
    return {
      dungeonID: this.$route.query.dungeon,
    };
  },
  methods: {
    deleteAvatar() {
      this.$router.push({
        path: "/avatarRemoveConfirmation",
        query: { dungeon: this.dungeonID },
      });
    },
  },
};
</script>

<style scoped>
.removeAvatarButton {
  min-width: 170px;
  max-width: 200px;
  background: #743f40;
  padding: 1em;
  border-radius: 1em;
  box-shadow: 0.1em 0.1em #000000a8;
}

button {
  border-radius: 0.75em;
  height: 2em;
  font-size: 1em;
  background-color: #74733f;
  color: #ffffff;
  bottom: 1em;
  width: 100%;
  box-shadow: 0.1em 0.1em #000000a8;
}
</style>