<template>
  <div class="playerActionBoxComponent">
    <div class="row">
      <div class="col">
        <div class="display">
          <div class="textContent" id="container">
            <!--v-for every p element-->
            <!--Sender Color in Span: Set with Vue syntax-->
            <div
              v-for="(message, index) in this.systemmessages"
              v-bind:key="index"
            >{{ message.content }}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="uiInput">
          <input
            @keyup.enter="onClickSend"
            v-model="actionInput"
            placeholder="Send Action"
            title="Send Action"
          />
        </div>
      </div>
      <div class="col-md-auto">
        <div class="uiButton">
          <button @click="onClickSend">Send</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import * as api from "@/util/apiwrapper.js";

export default {
  name: "PlayerActionBoxComponent",
  components: {},
  data() {
    return {
      actionInput: "",
      userScrolled: false,
    };
  },
  methods: {
    async onClickSend() {
      // Echo message
      this.$store.dispatch("chat/echo", "> " + this.actionInput);
      // Send the object
      await api.sendAction(this.$route.query.dungeon, {
        action: this.actionInput.trim(),
      });
      // Clear the textfield after sending the message
      this.actionInput = "";
    },
  },
  computed: {
    systemmessages: {
      get() {
        return this.$store.getters["chat/systemMessages"];
      },
    },
  },
  watch: {
    systemmessages() {
      setTimeout(() => {
        if (!this.userScrolled) {
          var container = this.$el.querySelector("#container");
          container.scroll({
            top: container.scrollHeight,
            left: 0,
          });
        }
      }, 10);
    },
  },
};
</script>

<style scoped>
.playerActionBoxComponent {
}

.display {
  background-color: #00101b;
  border-radius: 2em;
  border-style: solid;
  border-color: #743f40;
  border-width: 1em;
  margin-bottom: 1em;
  box-shadow: 0.1em 0.1em #000000a8;
}

.textContent {
  font-family: monospace;
  text-align: left;
  margin: 0.5em;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 60vh;
  color: #ffffff;
  white-space: pre-wrap;
  text-indent: 0;
}

.uiButton {
}

input {
  border-radius: 0.75em;
  height: 2em;
  width: 100%;
  border-style: none;
  font-size: 1.2em;
  background-color: #3f7473;
  color: #ffffff;
  display: inline-block;
  box-shadow: 0.1em 0.1em #000000a8;
}

button {
  border-radius: 0.75em;
  height: 2em;
  padding-left: 1em;
  padding-right: 1em;
  font-size: 1em;
  background-color: #74733f;
  color: #ffffff;
  bottom: 1em;
  width: 100%;
}

.actiontext {
}
</style>