<template>
  <div class="AvatarCreationSummery">
    <div class="row">
      <div class="col">
        <div class="actionbox">
          <div class="actionContent">
            <h2>{{ avatar.uniqueName }}</h2>
            <p>Race:{{ raceName }}</p>
            <p>Class:{{ className }}</p>
            <p>HP: {{ avatarHP }}</p>
            <p style="overflow-y: auto; max-height: calc(80vh - 220px)">
              {{ avatar.userDescription }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "PlayerAvatarCreationSummeryComponent.vue",
  props: ["avatar"],
  components: {},
  methods: {},
  computed: {
    raceName: {
      get() {
        if (this.avatar.raceID == null) {
          return "";
        } else {
          var races = this.$store.state.avatarrace.races;
          console.log(races);
          var race = races.find((race) => race.globalID == this.avatar.raceID);
          console.log(race);
          return race.displayName;
        }
      },
    },
    className: {
      get() {
        if (this.avatar.classID == null) {
          return "";
        } else {
          var races = this.$store.state.avatarclass.classes;
          console.log(races);
          var race = races.find(
            (avatarClass) => avatarClass.globalID == this.avatar.classID
          );
          console.log(race);
          return race.displayName;
        }
      },
    },
    avatarHP: {
      get() {
        var raceHP = 0;
        var classHP = 0;
        if (this.avatar.raceID != null) {
          raceHP = this.$store.state.avatarrace.races.find(
            (race) => race.globalID == this.avatar.raceID
          ).HPModifier;
        }
        if (this.avatar.classID != null) {
          classHP = this.$store.state.avatarclass.classes.find(
            (aClass) => aClass.globalID == this.avatar.classID
          ).HPModifier;
        }
        return raceHP + classHP;
      },
    },
  },
};
</script>

<style scoped>
.AvatarCreationSummery {
  margin: 2em;
  width: 90%;
  display: inline-block;
  text-align: left;
  word-break: break-all;
}

.actionbox {
  background-color: #00101b;
  border-radius: 2em;
  border-style: solid;
  border-color: #46606d;
  border-width: 0.7em;
  margin-bottom: 1em;
  box-shadow: 0.1em 0.1em #000000a8;
  padding: 1em;
  height: 80vh;
}

h2 {
  text-align: center;
}

p {
  color: #ffffff;
}
</style>