<template>
  <div class="classSelection">
    <div
      v-for="avatarClass in $store.getters['avatarclass/availableClasses']"
      v-bind:key="avatarClass.globalID"
      class="row classElement"
      @click="$emit('click', avatarClass.globalID)"
    >
      <div class="col-2">
        <h4>{{ avatarClass.displayName }}</h4>
        <p>HP Modifier: {{ avatarClass.HPModifier }}</p>
      </div>
      <div class="col" style="overflow-y: auto; max-height: 175px">
        {{ avatarClass.description }}
      </div>
    </div>
  </div>
</template>

<script>
//import * as api from "@/util/apiwrapper.js";
export default {
  name: "PlayerAvatarCreationClassesComponent.vue",
  components: {},
};
</script>

<style scoped>
.row.classElement {
  margin: 1em;
  background-color: #743f40;
  color: white;
  border-radius: 1em;
  padding: 1em;
  height: 200px;
  word-break: break-all;
  cursor: pointer;
}

.classSelection {
  overflow-y: auto;
  height: calc(80vh - 150px);
  margin-top: 0;
}
</style>