<template>
  <div class="avatarDescription">
    <div class="row">
      <div class="col">
        <input
          v-bind:value="name"
          @input="$emit('inputName', $event.target.value)"
          type="text"
          id="avatarName"
          name="avatarName"
          placeholder="Avatarname"
          title="Avatarname"
        />
      </div>
    </div>
    <div class="row">
      <div class="col">
        <textarea
          v-bind:value="description"
          @input="$emit('inputDesc', $event.target.value)"
          id="avatarDescription"
          name="avatarDescription"
          placeholder="Avatar description"
          title="Avatar description"
        />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "PlayerAvatarCreationDescriptionComponent.vue",
  components: {},
  props: ["name", "description"],
  methods: {},
};
</script>

<style scoped>
.avatarDescription {
  overflow-y: hidden;
  overflow-x: hidden;
  height: calc(80vh - 150px);
  padding: 2em;
}

input {
  border-radius: 0.75em;
  height: 2.5em;
  width: 100%;
  border-style: none;
  font-size: 1em;
  margin-bottom: 2em;
  background-color: #3f7473;
  color: #ffffff;
  box-shadow: 0.1em 0.1em #000000a8;
  padding-right: 1em;
  padding-left: 1em;
}

textarea {
  border-radius: 0.75em;
  width: 100%;
  border-style: none;
  font-size: 1em;
  margin-bottom: 25em;
  background-color: #3f7473;
  color: #ffffff;
  box-shadow: 0.1em 0.1em #000000a8;
  padding-right: 1em;
  padding-left: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  resize: none;
  height: calc(80vh - 300px);
}
</style>