<template>
  <div class="raceSelection">
    <div v-for="race in $store.getters['avatarrace/availableRaces']" v-bind:key="race.globalID" class="row raceElement" @click="$emit('click', race.globalID)">
      <div class="col-2">
        <h4>{{race.displayName}}</h4>
        <p>HP Modifier: {{race.HPModifier}}</p>
      </div>
      <div class="col" style="overflow-y: auto; max-height: 175px">
        {{race.description}}
      </div>
    </div>
  </div>
</template>

<script>
//import * as api from "@/util/apiwrapper.js";
export default {
  name: "PlayerAvatarCreationRacesComponent.vue",
  data() {
    return {
      // TODO Entfernen?
      races: [],
    };
  },
  components: {},
  methods: {
    onClickRaceElement() {
      window.alert("sometext");
    },
  },
  async created() {
  },
};
  
</script>

<style>
.row.raceElement {
  margin: 1em;
  background-color: #743f40;
  color: white;
  border-radius: 1em;
  padding: 1em;
  height: 200px;
  word-break: break-all;
  cursor: pointer;
}

.raceSelection {
  overflow-y: auto;
  height: calc(80vh - 150px);
  margin-top: 0;
}
</style>