<template>
  <div class="playerChatBoxComponent">
    <div class="row">
      <div class="col">
        <div class="display">
          <div class="textContent" id="container">
            <!--v-for every p element-->
            <p
              v-for="(message, index) in this.chatmessages"
              v-bind:key="index"
              class="msg"
            >
              <span
                style="color: #db5680"
                v-if="message.type == 'DungeonChatMessage'"
              >
                {{ message.sender }}:
              </span>
              <span
                style="color: #c3dd76"
                v-if="message.type == 'RoomChatMessage'"
              >
                {{ message.sender }}:
              </span>
              <span
                style="color: #68c4c4"
                v-if="message.type == 'WhisperChatMessage'"
              >
                {{ message.sender }}:
              </span>
              {{ message.content }}
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <!--Dropdown for production-->
        <select v-model="messageRecipient" @focus="loadAvatarNames">
          <option selected value="">@All in room</option>
          <option v-for="name in allAvatarNames" :key="name">{{ name }}</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="uiInput">
          <input
            @keyup.enter="onClickSendMessage"
            v-model="messageContent"
            placeholder="Send Message"
            title="Send Message"
          />
        </div>
      </div>
      <div class="col-md-auto">
        <div class="uiButton">
          <button @click="onClickSendMessage">Send</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import * as chat from "@/util/chatclient.js";
import * as api from "@/util/apiwrapper.js";
export default {
  name: "PlayerChatBoxComponent",
  components: {},
  data() {
    return {
      messageContent: "",
      messageRecipient: "",

      allAvatarNames: [],
    };
  },
  methods: {
    async loadAvatarNames() {
      try {
        this.allAvatarNames = await api.getSameRoomAvatars(
          this.$route.query.dungeon
        );
      } catch (error) {
        this.allAvatarNames = [];
      }
    },
    async onClickSendMessage() {
      // Create the right messagetype
      var msg;
      if (this.messageRecipient.length > 0) {
        // If a recipient is entered, whisper
        msg = chat.createWhisperChatMessage(
          this.messageRecipient,
          this.messageContent.trim()
        );
      } else {
        // Else, send a normal message
        msg = chat.createRoomChatMessage(null, null, this.messageContent.trim());
      }
      // Send the object
      await this.$store.dispatch("chat/sendMessage", msg);
      // Clear the textfield after sending the message
      this.messageContent = "";
    },
  },
  computed: {
    chatmessages: {
      get() {
        return this.$store.getters["chat/chatMessages"];
      },
    },
  },
  watch: {
    chatmessages() {
      setTimeout(() => {
        if (!this.userScrolled) {
          var container = this.$el.querySelector("#container");
          container.scroll({
            top: container.scrollHeight,
            left: 0,
          });
        }
      }, 10);
    },
  },
};
</script>

<style scoped>
.playerChatBoxComponent {
}

.display {
  background-color: #00101b;
  border-radius: 2em;
  border-style: solid;
  border-color: #743f40;
  border-width: 1em;
  margin-bottom: 1em;
  box-shadow: 0.1em 0.1em #000000a8;
}

.textContent {
  margin: 0.5em;
  overflow-y: scroll;
  overflow-x: visible;
  height: calc(60vh - 80px);
  word-break: break-word;
}

.msg {
  text-align: left;
}

.uiButton {
}

input {
  border-radius: 0.75em;
  height: 2em;
  width: 100%;
  border-style: none;
  font-size: 1.2em;
  background-color: #3f7473;
  color: #ffffff;
  display: inline-block;
  box-shadow: 0.1em 0.1em #000000a8;
  margin-bottom: 1em;
}

select {
  border-radius: 0.75em;
  height: 2em;
  width: 100%;
  font-size: 1.2em;
  display: inline-block;
  box-shadow: 0.1em 0.1em #000000a8;
  background-color: #1c423b;
  color: #ffffff;
  border-style: none;
  margin-bottom: 1em;
}

button {
  border-radius: 0.75em;
  height: 2em;
  padding-left: 1em;
  padding-right: 1em;
  font-size: 1em;
  background-color: #74733f;
  color: #ffffff;
  bottom: 1em;
  width: 100%;
}

p {
  color: #ffffff;
}
</style>
