<template>
  <div class="gameViewsUI">
    <div class="row">
      <div class="col">
        <button @click="leaveDungeon">Leave Dungeon</button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "GameViewsUI",
  methods: {
    leaveDungeon() {
      this.$router.push({ name: "Lobby" });
    },
  },
  data() {
    return {};
  },
};
</script>

<style scoped>
.gameViewsUI {
  min-width: 170px;
  max-width: 200px;
  background: #743f40;
  padding: 1em;
  border-radius: 1em;
  box-shadow: 0.1em 0.1em #000000a8;
}

button {
  border-radius: 0.75em;
  height: 2em;
  font-size: 1em;
  background-color: #74733f;
  color: #ffffff;
  bottom: 1em;
  width: 100%;
  box-shadow: 0.1em 0.1em #000000a8;
}
</style>