<template>
  <div class="login">
    <h1>Login</h1>
    <div class="loginArea">
      <div class="row">
        <div class="col">
          <input
            v-model="input.userName"
            type="text"
            id="userName"
            name="userName"
            placeholder="Username"
            title="Username"
          /><br />
          <input
            v-model="input.password"
            type="password"
            id="userPassword"
            name="userPassword"
            placeholder="Password"
            title="Password"
          />
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button @click="onClickLogin">Login</button>
        </div>
        <div class="col">
          <button @click="onClickRegister">Go to Register</button>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <button style="margin-top: 1em" @click="onClickForgotPassword">
            Forgot Password?
          </button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p id="errorMsg"></p>
      </div>
    </div>
  </div>
</template>

<script>
import * as api from "@/util/apiwrapper.js";
export default {
  name: "Login",
  data() {
    return {
      input: {
        userName: "",
        password: "",
      },
    };
  },
  methods: {
    onClickRegister() {
      this.$router.push("/register");
    },
    onClickForgotPassword() {
      this.$router.push("/PasswordResetRequest");
    },
    async onClickLogin() {
      try {
        await api.login(this.input.userName, this.input.password);
        this.$router.push("/lobby");
      } catch (error) {
        console.log(error.response);
        document.getElementById("errorMsg").innerHTML =
          "Login failed, please try again!";
      }
    },
  },
  created() {
    // Beim Erstellen des Components
  },
};
</script>



<style scoped>
.loginArea {
  border-radius: 1em;
  background-color: #743f40;
  text-align: left;
  display: inline-block;
  padding: 2em;
  box-shadow: 0.1em 0.1em #000000a8;
}

input {
  border-radius: 0.75em;
  height: 2em;
  width: 25em;
  border-style: none;
  font-size: 1em;
  margin-bottom: calc(0.75em + 1.4em);
  background-color: #3f7473;
  color: #ffffff;
  box-shadow: 0.1em 0.1em #000000a8;
  padding-right: 1em;
  padding-left: 1em;
}

button {
  border-radius: 0.75em;
  height: 2em;
  width: 100%;
  font-size: 1em;
  background-color: #74733f;
  color: #ffffff;
}

h1 {
  color: #ffffff;
}

#errorMsg {
  color: #ff0000;
  text-align: center;
  font-size: 1.2em;
}
</style>