<template>
  <div class="mailConfirmed">
    <h1>E-Mail confirmed</h1>
    <div class="confirmMailArea">
      <p id="msgArea"></p>
      <div class="row">
        <div class="col">
          <button @click="onClickLogin">Go to Login</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import * as api from "@/util/apiwrapper.js";
export default {
  name: "MailConfirmed",
  methods: {
    onClickLogin() {
      this.$router.push("/login");
    },
  },
  async mounted() {
    // Try to confirm the registration
    try {
      await api.confirmMail(this.$route.params.token);
      document.getElementById("msgArea").innerHTML =
        "Your account is validated! Have fun playing!";
    } catch (error) {
      console.log(error.response);
      document.getElementById("msgArea").innerHTML =
        "Account validation failed.";
      return;
    }
  },
};
</script>

<style scoped>
.confirmMailArea {
  border-radius: 1em;
  background-color: #743f40;
  text-align: center;
  display: inline-block;
  padding: 2em;
  box-shadow: 0.1em 0.1em #000000a8;
  min-width: 400px;
}

button {
  border-radius: 0.75em;
  height: 2em;
  width: 50%;
  font-size: 1em;
  background-color: #74733f;
  color: #ffffff;
}

h1 {
  color: #ffffff;
  font-style: bold;
  font-size: 2em;
}
p {
  color: #ffffff;
  font-size: 1.2em;
}
</style>