<template>
  <div class="passwordChange">
    <h1>Change your Password</h1>
    <div class="passwordArea">
      <div class="row">
        <div class="col">
          <input
            v-model="input.password"
            type="password"
            name="userPassword"
            placeholder="Password: 8-20 Zeichen, Groß/Klein, Zahl, Sonderz."
            title="Password"
          />
        </div>
      </div>
      <div class="row errorMsgRow">
        <div class="col">
          <div v-if="!validPassword" class="errorMsg">
            Check if your password matches the requirements!
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <input
            v-model="input.repeatPassword"
            type="password"
            name="repeatUserPassword"
            placeholder="Repeat Password"
            title="Repeat Password"
          />
        </div>
      </div>
      <div class="row errorMsgRow">
        <div class="col">
          <div v-if="!passwordsEqual" class="errorMsg">Passwords not equal</div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button @click="onClickSetPassword">Set new Password</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p id="errorMsg"></p>
      </div>
    </div>
  </div>
</template>

<script>
import * as api from "@/util/apiwrapper.js";
export default {
  name: "PasswordChange",
  data() {
    return {
      input: {
        password: "",
        repeatPassword: "",
      },
    };
  },
  methods: {
    onClickRegister() {
      this.$router.push("/register");
    },
    async onClickSetPassword() {
      try {
        await api.resetPassword(this.$route.params.token, this.input.password);
        this.$router.push("/passwordChangeConfirmation");
      } catch (error) {
        console.log(error.response);
        document.getElementById("errorMsg").innerHTML =
          "Password change failed!";
      }
    },
  },
  computed: {
    passwordsEqual() {
      return this.input.password == this.input.repeatPassword;
    },
    validPassword() {
      const passw = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,20}$/;
      return passw.test(String(this.input.password));
    },
  },
};
</script>



<style scoped>
.passwordArea {
  border-radius: 1em;
  background-color: #743f40;
  text-align: left;
  display: inline-block;
  padding: 2em;
  box-shadow: 0.1em 0.1em #000000a8;
  color: #ffffff;
}

input {
  border-radius: 0.75em;
  height: 2em;
  width: 25em;
  border-style: none;
  font-size: 1em;
  margin-bottom: 0.375em;
  margin-top: 0.375em;
  background-color: #3f7473;
  color: #ffffff;
  box-shadow: 0.1em 0.1em #000000a8;
  padding-right: 1em;
  padding-left: 1em;
}

button {
  border-radius: 0.75em;
  height: 2em;
  width: 100%;
  font-size: 1em;
  background-color: #74733f;
  color: #ffffff;
  margin-top: 0.375em;
}

h1 {
  color: #ffffff;
}

.errorMsg {
  font-size: 0.9em;
  padding-left: 1em;
}

.errorMsgRow {
  height: 1.4em;
}

#errorMsg {
  color: #ff0000;
  text-align: center;
  font-size: 1.2em;
}
</style>