<template>
  <div class="passwordReset">
    <h1>Password Reset</h1>
    <div class="passwordResetArea">
      <div class="row">
        <div class="col">
          <input
            v-model="input.userName"
            type="text"
            name="userName"
            placeholder="Username"
            title="Username"
          />
        </div>
      </div>
      <div class="row errorMsgRow">
        <div class="col">
          <div v-if="!validUserName" class="errorMsg">
            User name has to be....
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <input
            v-model="input.mailAddress"
            type="text"
            name="userEmail"
            placeholder="E-Mail"
            title="E-Mail"
          />
        </div>
      </div>
      <div class="row errorMsgRow">
        <div class="col">
          <div v-if="!validMail" class="errorMsg">E-Mail not valid!</div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button @click="onClickSendEmail">Send E-Mail</button>
        </div>
        <div class="col">
          <button @click="onClickBackToLogin">Go back to Login</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p id="errorMsg"></p>
      </div>
    </div>
  </div>
</template>

<script>
import * as api from "@/util/apiwrapper.js";
export default {
  name: "ResetRequest",
  data() {
    return {
      input: {
        mailAddress: "",
        userName: "",
      },
    };
  },
  methods: {
    onClickBackToLogin() {
      this.$router.push("/login");
    },
    async onClickSendEmail() {
      try {
        await api.requestResetPassword(
          this.input.userName,
          this.input.mailAddress
        );
        this.$router.push("/ResetRequestSent");
      } catch (error) {
        console.log(error.response);
        document.getElementById("errorMsg").innerHTML =
          "Request failed, please check if the E-Mail and Username are correct!";
      }
    },
  },
  computed: {
    validMail() {
      const re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return re.test(String(this.input.mailAddress).toLowerCase());
    },
    validUserName() {
      //TODO User name check
      return true;
    },
  },
  created() {
    // Beim Erstellen des Components
  },
};
</script>



<style scoped>
.passwordResetArea {
  border-radius: 1em;
  background-color: #743f40;
  text-align: left;
  display: inline-block;
  padding: 2em;
  box-shadow: 0.1em 0.1em #000000a8;
  color: #ffffff;
}

input {
  border-radius: 0.75em;
  height: 2em;
  width: 25em;
  border-style: none;
  font-size: 1em;
  margin-bottom: 0.375em;
  margin-top: 0.375em;
  background-color: #3f7473;
  color: #ffffff;
  box-shadow: 0.1em 0.1em #000000a8;
  padding-right: 1em;
  padding-left: 1em;
}

button {
  border-radius: 0.75em;
  height: 2em;
  width: 100%;
  font-size: 1em;
  background-color: #74733f;
  color: #ffffff;
  margin-top: 0.375em;
}

h1 {
  color: #ffffff;
}

.errorMsg {
  font-size: 0.9em;
  padding-left: 1em;
}

.errorMsgRow {
  height: 1.4em;
}

#errorMsg {
  color: #ff0000;
  text-align: center;
  font-size: 1.2em;
}
</style>