<template>
  <div class="passwordChangeConfirmed">
    <div class="passwordChangeConfirmedArea">
      <h1>Password Change successful!</h1>
      <div class="row">
        <div class="col">
          <button @click="onClickLogin">Go to Login</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "PasswordChangeComponent",
  methods: {
    onClickLogin() {
      this.$router.push("/login");
    },
  },
};
</script>

<style scoped>
.passwordChangeConfirmedArea {
  border-radius: 1em;
  background-color: #743f40;
  text-align: center;
  display: inline-block;
  padding: 2em;
  box-shadow: 0.1em 0.1em #000000a8;
  min-width: 400px;
}

button {
  border-radius: 0.75em;
  height: 2em;
  width: 50%;
  font-size: 1em;
  background-color: #74733f;
  color: #ffffff;
  margin-top: 0.375em;
}

h1 {
  color: #ffffff;
  font-style: bold;
  font-size: 2em;
}
p {
  color: #ffffff;
  font-size: 1.2em;
}
</style>