<template>
  <div class="register">
    <h1>Register</h1>
    <div class="registerArea">
      <div class="row">
        <div class="col">
          <input
            v-model="input.userName"
            type="text"
            name="userName"
            placeholder="Username"
            title="Username"
          />
        </div>
      </div>
      <div class="row errorMsgRow">
        <div class="col">
          <div v-if="!validUserName" class="errorMsg">
            User name has to be....
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <input
            v-model="input.mailAddress"
            type="text"
            name="userEmail"
            placeholder="E-Mail"
            title="E-Mail"
          />
        </div>
      </div>
      <div class="row errorMsgRow">
        <div class="col">
          <div v-if="!validMail" class="errorMsg">E-Mail not valid!</div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <input
            v-model="input.password"
            type="password"
            name="userPassword"
            placeholder="Password: 8-20 Zeichen, Groß/Klein, Zahl, Sonderz."
            title="Password"
          />
        </div>
      </div>
      <div class="row errorMsgRow">
        <div class="col">
          <div v-if="!validPassword" class="errorMsg">
            Check if your password matches the requirements!
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <input
            v-model="input.repeatPassword"
            type="password"
            name="repeatUserPassword"
            placeholder="Repeat Password"
            title="Repeat Password"
          />
        </div>
      </div>
      <div class="row errorMsgRow">
        <div class="col">
          <div v-if="!passwordsEqual" class="errorMsg">Passwords not equal</div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button
            :disabled="
              !passwordsEqual || !validMail || !validPassword || !validUserName
            "
            @click="onClickRegister"
          >
            Register
          </button>
        </div>
        <div class="col">
          <button @click="onClickLogin">Go to Login</button>
        </div>
      </div>
    </div>
    <div class="row" id="registerFailed">
      <div class="col"></div>
    </div>
  </div>
</template>

<script>
import * as api from "@/util/apiwrapper.js";
export default {
  name: "Register",
  data() {
    return {
      input: {
        userName: "",
        password: "",
        repeatPassword: "",
        mailAddress: "",
      },
    };
  },
  methods: {
    onClickLogin() {
      this.$router.push("/login");
    },
    async onClickRegister() {
      // Versuche abfrage durchzuführen
      try {
        await api.register(
          this.input.userName,
          this.input.password,
          this.input.mailAddress
        );
        this.$router.push("/mailSent");
      } catch (error) {
        console.log(error.response);
        document.getElementById("registerFailed").innerHTML =
          "Register failed, please try again!";
        return;
      }
    },
  },
  computed: {
    passwordsEqual() {
      return this.input.password == this.input.repeatPassword;
    },
    validMail() {
      const re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return re.test(String(this.input.mailAddress).toLowerCase());
    },
    validPassword() {
      const passw = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,20}$/;
      return passw.test(String(this.input.password));
    },
    validUserName() {
      //TODO User name check
      return true;
    },
  },
};
</script>

<style scoped>
.registerArea {
  border-radius: 1em;
  background-color: #743f40;
  text-align: left;
  display: inline-block;
  padding: 2em;
  box-shadow: 0.1em 0.1em #000000a8;
  color: #ffffff;
}

input {
  border-radius: 0.75em;
  height: 2em;
  width: 25em;
  border-style: none;
  font-size: 1em;
  margin-bottom: 0.375em;
  margin-top: 0.375em;
  background-color: #3f7473;
  color: #ffffff;
  box-shadow: 0.1em 0.1em #000000a8;
  padding-left: 1em;
  padding-right: 1em;
}

button {
  border-radius: 0.75em;
  height: 2em;
  width: 100%;
  font-size: 1em;
  background-color: #74733f;
  color: #ffffff;
  margin-top: 0.375em;
}

h1 {
  color: #ffffff;
}

.errorMsg {
  font-size: 0.9em;
  padding-left: 1em;
}

.errorMsgRow {
  height: 1.4em;
}

button:disabled,
button[disabled] {
  border-radius: 0.75em;
  height: 2em;
  width: 100%;
  font-size: 1em;
  background-color: #74593f;
  color: lightgray;
  margin-top: 0.375em;
}
</style>