<template>
  <div class="resetRequestSent">
    <h1>E-Mail sent</h1>
    <div class="confirmMailArea">
      <p>
        An E-Mail has been sent to the entered address
      </p>
      <div class="row">
        <div class="col">
          <button @click="onClickStartPage">Go to Start Page</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "ResetRequestSent",
  methods: {
    onClickStartPage() {
      this.$router.push("/");
    },
  },
  created() {
    // Beim Erstellen des Components
  },
};
</script>

<style scoped>
.confirmMailArea {
  border-radius: 1em;
  background-color: #743f40;
  text-align: center;
  display: inline-block;
  padding: 2em;
  box-shadow: 0.1em 0.1em #000000a8;
  min-width: 400px;
}

button {
  border-radius: 0.75em;
  height: 2em;
  width: 50%;
  font-size: 1em;
  background-color: #74733f;
  color: #ffffff;
}

h1 {
  color: #ffffff;
  font-style: bold;
  font-size: 2em;
}
p {
  color: #ffffff;
  font-size: 1.2em;
}
</style>