<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<style>
/* TODO Change on different views */
body {
  background-color: #1c3642 !important;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
