<template>
  <div class="chatError">
    <CharErrorComponent />
  </div>
</template>

<script>
import CharErrorComponent from "@/components/siteComponents/ChatErrorComponent.vue";
export default {
  name: "ChatError",
  components: {
    CharErrorComponent,
  },
};
</script>

<style scoped>
.chatError {
  position: absolute;
  top: 25%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
</style>
