<template>
  <div class="avatarRemove">
    <PlayerAvatarConfirmationComponent />
  </div>
</template>

<script>
import PlayerAvatarConfirmationComponent from "@/components/playerComponents/PlayerAvatarRemoveConfirmationComponent.vue";
export default {
  name: "PlayerAvatarConfirmation",
  components: {
    PlayerAvatarConfirmationComponent,
  },
};
</script>

<style scoped>
.avatarRemove {
  position: absolute;
  top: 25%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
</style>
