<template>
  <div class="playerGame">
    <div class="row">
      <div class="col">
        <PlayerActionBoxComponent />
      </div>
      <div class="col-4">
        <div class="row">
          <div class="col" style="padding-right: 0">
            <PlayerRemoveAvatarButtonComponent style="float: left" />
          </div>
          <div class="col leaveButton">
            <GameViewsUI style="float: right" />
          </div>
        </div>
        <div class="row">
          <div class="col">
            <PlayerChatBoxComponent />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import GameViewsUI from "@/components/sharedComponents/GameViewsUI.vue";
import PlayerActionBoxComponent from "@/components/playerComponents/PlayerActionBoxComponent.vue";
import PlayerChatBoxComponent from "@/components/playerComponents/PlayerChatBoxComponent.vue";
import PlayerRemoveAvatarButtonComponent from "@/components/playerComponents/PlayerRemoveAvatarButtonComponent.vue";

export default {
  name: "PlayerGame",
  components: {
    GameViewsUI,
    PlayerActionBoxComponent,
    PlayerChatBoxComponent,
    PlayerRemoveAvatarButtonComponent,
  },
  async created() {
    // Handlers not used right now
    var openHandler = async function () {};
    var errorHandler = async function () {
      this.$router.push({ name: "ChatError" });
    };
    var closeHandler = (event) => {
      console.error(event);
    };

    // actually create the connection
    this.$store.dispatch("chat/connectToChat", {
      dungeonName: this.$route.query.dungeon,
      asDM: false,
      openHandler,
      errorHandler,
      closeHandler,
    });
  },

  async destroyed() {
    // Close the chatsocket when player leaves
    await this.$store.dispatch("chat/closeChat");
  },
};
</script>

<style scoped>
.playerGame {
  margin: 2em;
}

.col.leaveButton {
  margin-bottom: 15px;
}
</style>
