<template>
  <div class="playerAvatarCreation">
    <h1>Avatar Creation</h1>
    <div class="row">
      <div class="col-4">
        <PlayerAvatarCreationSummeryComponent v-bind:avatar="createdAvatar" />
      </div>
      <div class="col-8">
        <PlayerAvatarCreationComponent
          v-model="createdAvatar"
          v-bind:errormsg="errormsg"
          @create="onCreate"
        />
      </div>
    </div>
  </div>
</template>

<script>
import PlayerAvatarCreationComponent from "@/components/playerComponents/PlayerAvatarCreationComponent.vue";
import PlayerAvatarCreationSummeryComponent from "@/components/playerComponents/PlayerAvatarCreationSummaryComponent.vue";
import * as api from "@/util/apiwrapper.js";
export default {
  name: "PlayerAvatarCreation",
  components: {
    PlayerAvatarCreationComponent,
    PlayerAvatarCreationSummeryComponent,
  },
  data() {
    return {
      createdAvatar: {
        uniqueName: "",
        userDescription: "",
        raceID: null,
        classID: null,
      },
      errormsg: "",
    };
  },
  methods: {
    async onCreate() {
      if (this.createdAvatar.uniqueName == "") {
        this.errormsg = "Avatar needs a name"
        return;
      }

      if (this.createdAvatar.raceID == null) {
        this.errormsg = "Avatar needs a race"
        return;
      }

      if (this.createdAvatar.classID == null) {
        this.errormsg = "Avatar needs a class"
        return;
      }

      try {
        await api.createAvatar(this.createdAvatar, this.$route.query.dungeon);
        this.$router.push({
          name: "PlayerGame",
          query: { dungeon: this.$route.query.dungeon },
        });
      } catch (error) {
        console.log(error);
        this.errormsg = "Failed to create avatar";
      }
    },
  },
  async created() {
    // Load classes and races
    try {
      await this.$store.dispatch(
        "avatarrace/loadRaces",
        this.$route.query.dungeon
      );
      await this.$store.dispatch(
        "avatarclass/loadClasses",
        this.$route.query.dungeon
      );
    } catch (error) {
      console.log(error);
    }
  },
  destroyed() {
    this.$store.dispatch("avatarclass/clearClasses");
    this.$store.dispatch("avatarrace/clearRaces");
  },
};
</script>

<style scoped>
.playerAvatarCreation {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  max-width: 1920px;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  overflow: hidden;
}

h1 {
  color: white;
}

body {
  width: 100vw;
}
</style>