<template>
  <div class="login">
    <LoginComponent />
  </div>
</template>

<script>
import LoginComponent from "@/components/registerLoginComponents/LoginComponent.vue";
export default {
  name: "Login",
  components: {
    LoginComponent,
  },
};
</script>

<style scoped>
.login {
  position: absolute;
  top: 25%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
</style>
