<template>
  <div class="mailSent">
    <MailSentComponent />
  </div>
</template>

<script>
import MailSentComponent from "@/components/registerLoginComponents/MailSentComponent.vue";
export default {
  name: "MailSent",
  components: {
    MailSentComponent,
  },
};
</script>

<style scoped>
.mailSent {
  position: absolute;
  top: 25%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
</style>
