<template>
  <div class="mailConfirmed">
    <MailConfirmedComponent />
  </div>
</template>

<script>
import MailConfirmedComponent from "@/components/registerLoginComponents/MailConfirmedComponent.vue";
export default {
  name: "MailConfirmed",
  components: {
    MailConfirmedComponent,
  },
};
</script>

<style scoped>
.mailConfirmed {
  position: absolute;
  top: 25%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
</style>
