<template>
  <div class="passwordResetRequest">
    <PasswordResetRequestComponent />
  </div>
</template>

<script>
import PasswordResetRequestComponent from "@/components/registerLoginComponents/PasswordResetRequestComponent.vue";
export default {
  name: "PasswordResetRequest",
  components: {
    PasswordResetRequestComponent,
  },
};
</script>

<style scoped>
.passwordResetRequest {
  position: absolute;
  top: 25%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
</style>