<template>
  <div class="passwordChangeConfirmed">
    <PasswordChangeConfirmedComponent />
  </div>
</template>

<script>
import PasswordChangeConfirmedComponent from "@/components/registerLoginComponents/PasswordChangeConfirmationComponent.vue";
export default {
  name: "PasswordChangeConfirmed",
  components: {
    PasswordChangeConfirmedComponent,
  },
};
</script>

<style scoped>
.passwordChangeConfirmed {
  position: absolute;
  top: 25%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
</style>
