<template>
  <div class="passwordChange">
    <PasswordChangeComponent />
  </div>
</template>

<script>
import PasswordChangeComponent from "@/components/registerLoginComponents/PasswordChangeComponent.vue";
export default {
  name: "PasswordChange",
  components: {
    PasswordChangeComponent,
  },
};
</script>

<style lang="css" scoped>
.passwordChange {
  position: absolute;
  top: 25%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
</style>

