<template>
  <div class="register">
    <RegisterComponent />
  </div>
</template>

<script>
import RegisterComponent from "@/components/registerLoginComponents/RegisterComponent.vue";
export default {
  name: "Register",
  components: {
    RegisterComponent,
  },
};
</script>

<style lang="css" scoped>
.register {
  position: absolute;
  top: 25%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
</style>

