<template>
  <div class="resetRequestSent">
    <ResetRequestSentComponent />
  </div>
</template>

<script>
import ResetRequestSentComponent from "@/components/registerLoginComponents/ResetRequestSentComponent.vue";
export default {
  name: "ResetRequestSent",
  components: {
    ResetRequestSentComponent,
  },
};
</script>

<style scoped>
.resetRequestSent {
  position: absolute;
  top: 25%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
</style>
